[2015-08-04 18:50] kmadhusmk opened #1 "How to Download video"
I could not find any method for downloading physical video file into client machine folder. Can you please suggest how can i download a video using this api

[2015-08-04 20:11] jkw117 commented on #1
James-Ko,

Is there a way to support downloading restricted content. I’ve seen several blogs which use youtube to secure their video's by content rating as well as restricting specified user accounts to access them (paid content). How easy do you think that would be to enable downloading of this content? I have an app that downloads videos/images from Tumblr and youtube is a major one. And I’ve se

[2015-08-05 04:54] jamesqo commented on #1
@swethamadhu Sure, it's easy. Have you checked [the docs](https://github.com/James-Ko/libvideo/tree/master/docs)?

Here's a two-liner to download a video and drop it into a file:

[code]

---

@jkw117 Probably not. libvideo scans the page source for any encoded links, and downloads the videos from them. With restricted content, it's likely that YouTube simply won't include the links at all.

It mi

[2015-08-05 15:02] #1 closed, assigned to nobody

[2015-08-24 17:40] Qandil opened #4 "VideoLibrary 0.5.0 is not compatible with UAP,Version=v10.0"
Hey thanks for the great plugin, yet am facing some issue adding it under UAP to run it on WinIoT

Restoring packages for 'IoT'.
Restoring packages for C:\Users\7461\Source\Repos\IoT\IoT\project.json...
Using source https://api.nuget.org/v3/index.json.
Using source https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/.
Restoring packages for UAP,Version=v10.0...
Resolving conflicts for UAP,V

[2015-08-24 18:19] jamesqo commented on #4
Hey @Qandil, I just managed to get a repro for this and I'll let you know when the problem is resolved. Thanks for the heads-up!

[2015-08-24 18:38] Qandil commented on #4
Thanks will be waiting your updates!

[2015-08-25 00:30] jamesqo commented on #4
@Qandil The bug has been fixed: 18e21ac. Try installing libvideo 0.6.2 and it should work.

[2015-08-25 00:33] jamesqo opened #5 "libvideo.compat included in VideoLibrary.nupkg"
The libvideo.compat assembly should not be included in the VideoLibrary package.

TODO: Fix the build script so this is not a problem.

[2015-08-25 02:31] jamesqo commented on #5
Fixed from 7f07525.

[2015-08-25 02:31] #5 closed, assigned to nobody

[2015-08-25 02:49] jamesqo opened #6 "[POLL] Support Flash audio extraction"
Right now I haven't implemented audio extraction for maintainability && SRP reasons. If you're interested leave a comment here and I'll port it if enough people respond.

[2015-08-25 16:59] Qandil commented on #4
@James-Ko thanks for the update.

One more issue within UAP on WinIoT HttpClient returns corrupted information due to the compression,

To fix it rap it within a handler and activate decompression.

[code]

Both functions need to be updated.

[2015-08-25 20:59] jamesqo commented on #4
Ooh, nice catch. It looks like I'll have to destroy some of the public API because of this (an unsuspecting user could likewise receive bad data from `GetVideo("[foo]", uri => client.GetStringAsync(uri))`), so this could take some time to get sorted. Thanks for pointing that out.

[2015-08-25 22:06] jamesqo commented on #4
@Qandil Should be good to go now. Is it fixed? (don't have a WinIoT device unfortunately, otherwise I'd test myself)

[2015-08-25 22:12] jamesqo opened #7 "Add a build.cmd script"
Right now, we require contributors to the repo to have a working copy of Bash. This is great for Linux and OS X users, but it also means that Windows people have to go install some kind of POSIX emulation layer, e.g. Git Bash or Cygwin. It would be nice if we had a `build.cmd` batch script so they could build it natively, but I don't have experience in batch scripting.

[2015-08-25 23:24] Qandil commented on #4
@jamesqo yes am listing to music right now!

[2015-08-25 23:26] Qandil commented on #6
That would be a great @jamesqo

[2015-08-26 00:08] jamesqo commented on #4
Great! In that case I'll close this issue, glad I could help.

[2015-08-26 00:08] #4 closed, assigned to nobody

[2015-08-27 06:46] Qandil opened #8 "Some Uri get generated without the signuture"
Hi,

Try getting ?v=RgKAFK5djSk you will notice flv doesnt have that signature.

[2015-08-27 16:23] jamesqo commented on #8
@Qandil Sorry, can you please clarify what you're saying? I just tried downloading that video, but I'm getting a 403 error (Forbidden) from HttpClient; I can't tell what you mean by "signature."

[2015-08-27 16:31] jamesqo opened #9 "HTTP 403 error with age restricted videos"
It looks like when we're trying to download age restricted videos (i.e. [this](https://youtube.com/watch?v=RgKAFK5djSk)) we're getting a 403 (Forbidden) error from HttpClient. I haven't tested if YoutubeExtractor has this problem as well, but [it looks like it](https://github.com/flagbug/YoutubeExtractor/blob/master/YoutubeExtractor/YoutubeExtractor/DownloadUrlResolver.cs#L246-L249). To fix this,

[2015-08-27 23:32] Qandil commented on #8
@jamesqo if you try with another video that does really work for flv extension you will notice that the uri has a parameter called signature which its seems to authenticate the request,

For some reason this parameter is not there, maybe something wrong parsing the video links ?

[2015-08-28 01:50] jamesqo opened #10 "Building Valks as part of build script"
Right now, the build script compiles everything in src/ and tests/ as part of build. samples/, however, remains untouched; it requires manually opening the solution in Visual Studio and compiling.

TODO: Build samples/ and add `-s` command-line switch as part of build script.

[2015-08-28 01:54] #9 closed, assigned to nobody

[2015-08-28 02:03] jamesqo opened #11 "Non-async wrapper methods throwing the wrong exceptions"
Some of the non-async wrapper methods, e.g. GetVideos and GetAllVideos, will throw `AggregateException` when something is thrown. This can be unexpected and confusing for the end-user, who would expect something like an `ArgumentException` or `InvalidOperationException` instead.

To fix this, consider trying to wrap the _synchronous_ methods in the _async_ ones (via `Task.Run`), which would actual

[2015-08-28 10:15] aloisdg commented on #6
Could be a nice option. Keep it lightweight though.

[2015-08-28 10:19] aloisdg opened #12 "What providers are you going to support?"
Hello,

I saw in the code:

After Youtube and Vimeo, who's next? :)

Cheers

[2015-08-28 14:42] jamesqo commented on #12
Hi @aloisdg! I'm thinking maybe one of the websites listed [here](http://keepvid.com/), e.g. Vine. However, I may be doing it in another library, since I think it's better to keep focus on YouTube for now. Most of the code here is already YouTube-specific, so it would be kinda hard to add another platform at the moment.

[2015-08-28 15:43] Qandil opened #13 "Changelog"
It would be nice to list the changes on the library landing page, showing the updates been made so far.

[2015-08-28 15:51] Qandil commented on #6
To make this feature perfect yet i guess #8 need to be resolved.

Right now it only works with flv links having sig or signature.

[2015-08-29 00:56] jamesqo commented on #13
Agreed, I've been making quite a few breaking changes lately (apologies to those who've updated the package). I can't make one right now (busy atm), but I will when I'm free on Sunday. Thanks @Qandil.

[2015-08-29 10:13] i3arnon commented on #6
I wouldn't invest too much time in this.
You can easily get just the audio by using one of the DASH types where the audio and video are already separated.

[2015-08-29 10:24] #11 closed, assigned to nobody

[2015-08-30 02:33] jamesqo commented on #8
Looks like [this](https://github.com/jamesqo/libvideo/blob/master/src/libvideo/YouTubeService.cs#L88-L94) seems to be the piece of code in question; the `"signature"` parameter won't get added unless `"s"` or `"sig"` was there before. Maybe this is part of the problem; I'll investigate it further tomorrow. Thanks, Qandil.

[2015-08-30 05:35] Qandil commented on #6
Maybe @jamesqo can add it in the next release.

[code]

Source: (Extract Audio from FLV stream in C#)[http://stackoverflow.com/questions/1693656/extract-audio-from-flv-stream-in-c-sharp#answer-1694235]

[2015-08-31 01:27] jamesqo commented on #13
[Added!](https://github.com/jamesqo/libvideo/blob/master/changelog.md)

[2015-08-31 01:27] #13 closed, assigned to nobody

[2015-08-31 01:34] jamesqo commented on #6
Alright, alright. I was planning to keep it a surprise, but I'm working on an upcoming library that will add support for this. Here is a snippet of its code: https://gist.github.com/jamesqo/6784f734025e083cb011

[2015-08-31 08:03] Qandil commented on #6
@jamesqo looks great! What about working with mp4 files?

[2015-08-31 15:19] jamesqo opened #15 "Support encrypted query signatures"
Right now we don't support encrypted signatures in the URL query when extracting the link from YouTube. This can lead to 403 errors when downloading the video, which could be the cause of #8.

YoutubeExtractor already [handles this problem](https://github.com/flagbug/YoutubeExtractor/blob/master/YoutubeExtractor/YoutubeExtractor/DownloadUrlResolver.cs#L28-L51), so it shouldn't be too hard to refac

[2015-08-31 15:31] i3arnon commented on #15
@jamesqo Just a note about the implementation:
YE enables getting all the urls encrypted (by passing `false`) and explicitly decrypting specific ones.
This is a good paradigm as it can improve performance significantly.

[2015-09-07 19:04] aloisdg commented on #12
It would be nice to write an Interface and let any provider works with it, wouldn't it?

[2015-09-11 16:57] terrybrash commented on #15
Currently porting my application over to libvideo and ran into this problem.  How's progress?  I can work on it if you haven't started yet.

[2015-09-13 02:58] jamesqo commented on #15
@inlinevoid Working on it, but I should be finished within a day or two. I'll let you know when I've made the change.

Thanks for the offer, by the way!

[2015-09-19 13:02] jamesqo commented on #8
@Qandil Hey! Just pushed a new commit (7dadee8) that should fix this. It seems to be working for me now, can you verify that you're able to download the video with the newer package?

[2015-09-19 13:11] jamesqo commented on #15
This is finally supported: 7dadee8. Unfortunately I renamed some of the classes in the new version as well ([changelog](https://github.com/jamesqo/libvideo/blob/master/changelog.md)), so you may have to do a find-and-replace for them.

Thanks for your support, let me know if you guys have any problems!

[2015-09-19 13:11] #15 closed, assigned to nobody

[2015-09-19 13:17] jamesqo commented on #10
Fixed: 4b958b6.

[2015-09-19 13:17] #10 closed, assigned to nobody

[2015-09-19 13:22] jamesqo commented on #12
@aloisdg Just refactored the codebase to be a lot less coupled to YouTube (7dadee8), so I may revive Vimeo support soon. I'll keep you updated.

[2015-09-21 00:27] Qandil commented on #8
@jamesqo thank you for the update i guess i need to migrate to the new version before i test, right now i keep getting Cannot access a disposed object. Object name: 'System.Net.Http.HttpClient'.

[2015-09-21 00:47] Qandil commented on #8
Hi @jamesqo, try using the video i mentioned in the first comment, and try this:

[code]

You will notice that the video.uri throws an exception which yet i don't know why, but maybe it is related.

[2015-09-21 00:49] Qandil commented on #8
Closed it by mistake

[2015-09-21 01:49] jamesqo opened #16 "ObjectDisposedException when getting the Uri of an encrypted video"
This code will throw an `ObjectDisposedException` in libvideo 1.3.0:

[code]

Why? The gist of it is: when we run `GetVideo`, we create a new `HttpClient` to visit YouTube. After getting the source code of the page, we dispose the `HttpClient` so we don't leak resources.

Next, when we try getting the `Uri`, we have to visit another webpage if the video is encrypted. To avoid wasting resources, we

[2015-09-21 04:02] aloisdg commented on #8
@Qandil

[code]

cloud be write

[code]

[2015-09-21 08:07] Qandil commented on #16
@jamesqo Wonderful!

[2015-09-21 20:14] jamesqo commented on #8
@aloisdg No, I'm afraid Qandil is right. Opened up a new issue at #16, let's talk about it there.

[2015-09-21 20:14] #8 closed, assigned to nobody

[2015-09-21 21:27] jamesqo opened #17 "HttpClient hangs with large videos"
Try downloading [this](https://www.youtube.com/watch?v=kkoiLQO5JGo) 1.2 hour long video. [It will hang.](https://www.reddit.com/r/csharp/comments/3lk7yi/libvideo_for_youtube_progress_update/cv8vjj7)

If you open Task Manager (or the equivalent on Mac/Linux) while downloading it, you'll notice that the memory usage starts crawling up and eventually stagnates at around 1 GB. Closing the process dras

[2015-09-21 21:34] jamesqo commented on #17
Removed the `[todo]` label as we don't have a concrete solution yet.

[2015-09-22 12:41] ghost commented on #6
Is the support working ? I'd like to, like YoutubeExtractor does, get the audio stream from a youtube URL. Anyway, this is a really great project!

[2015-09-22 22:11] #16 closed, assigned to nobody

[2015-09-22 22:41] jamesqo commented on #16
Fixed! 0246ce6. Try downloading v1.3.1.

[2015-09-22 22:57] narqs commented on #16
Hey just updated, it's working awsome thanks :+1:

[2015-09-22 23:30] jamesqo commented on #16
@narqs Awesome, great to know! Contact me if you have any more issues :wink:

[2015-09-23 16:59] jamesqo commented on #6
@bbougot I've got most of the code down, but it's pretty hard to debug so it may take another week or so. I'll keep you tuned :wink: Glad you found this project useful!

[2015-09-23 18:35] ghost commented on #6
@jamesqo  Perfect! Thank you so much, this is awesome!

[2015-09-26 05:52] Krutonium commented on #7
I'll take a look at this in the morning.

[2015-09-27 07:03] vipul0092 commented on #7
will a powershell script do?

[2015-09-27 16:44] Krutonium commented on #7
@vipul0092 The problem with powershell in my experience is that there are a couple of versions of it, and the most commonly installed version is also the least capable. (Also, I am writing a batch script, so ye)

[2015-10-10 07:21] iamchandreshk opened #20 "I am getting error net_http_message_not_success_statuscode in Windows Phone 8.1"
I am getting error net_http_message_not_success_statuscode in Windows Phone 8.1, how to resolve it ?

[2015-10-10 12:55] jamesqo commented on #20
Hi, I'd be glad to help! Exactly what status code are you getting? Can you copy-paste the stack trace you're getting/some sample code so I can reproduce the issue? Thanks.

[2015-10-10 13:27] iamchandreshk commented on #20
Hi, Thanks for the response.

Here is an Error : net_http_message_not_success_statuscode
and Here is a Code :

[code]

Here is the stack trace :

[2015-10-11 17:48] iamchandreshk commented on #20
Dear jamesqo,

is there any update?

[2015-10-11 20:25] jamesqo commented on #20
@chandresh29 Hey! Sorry, been a bit busy recently so I didn't have the chance to reply :wink: Anyway, I've been trying to reproduce your error, but all the videos I've tested seem to work fine. Could you give me the URL of a video that's troubling you?

[2015-10-11 22:40] Selimerkan opened #21 "Video Quality 360p 720p 240p"
Hi
How I download with different quality.

[2015-10-12 00:09] jamesqo commented on #21
To download with 360p:

[code]

To download with 720p:

[code]

To download with 240p:

[code]

[2015-10-12 00:09] #21 closed, assigned to nobody

[2015-10-15 04:48] iamchandreshk commented on #20
That was the random link, can you share that code with me ?

my email id is chandresh.cmk@hotmail.com

[2015-11-10 10:10] Harikrishnav21 opened #22 "how can download video in .mp4 format?"
I am able to download Youtube video in .WebM format.
But I need video to be downloaded in .MP4 format.
I am unable to find a way to specify the response format for GetVideo method.
I am using this in Xamarin.iOS,it only downloads in .WebM format,but I need in .Mp4 to ply video in iPhone.

[2015-11-10 21:53] i3arnon commented on #22
`GetVideo` just selects the first. You need to use `GetAllVideosAsync` and filter the results according to your liking:

[code]

[2015-11-11 01:10] jamesqo commented on #22
Thanks, @i3arnon.

Harikrishnav, does this work for you?

[2015-11-11 03:31] Harikrishnav21 commented on #22
I  am checking,let you know once it  worked for me.
On Nov 11, 2015 6:40 AM, "James Ko" notifications@github.com wrote:

[2015-11-12 09:18] Harikrishnav21 commented on #22
@i3arnon,

Thank for your suggestion.
it is working good for me,I am able to play video's in iPhone.

[2015-11-12 13:51] jamesqo commented on #22
Awesome! :smile:

[2015-11-12 13:51] #22 closed, assigned to nobody

[2015-11-25 13:44] RogerSchmidlin opened #23 "String was not recognized as a valid DateTime after upgrading to 3.1.1"
Just upgraded from 3.0.5 to 3.1.1. Everything worked with 3.0.5 but now I get following exception when calling:
danceMovesList = await dbConn.QueryAsync<TblVideos> ("SELECT V.\* FROM Videos AS V ORDER BY V.DateAdded COLLATE nocase DESC");
-> String was not recognized as a valid DateTime

Following call works fine:
List<TblVideos> danceMovesList = await dbConn.QueryAsync<TblVideos> ("SELECT V.\* FR

[2015-11-27 01:51] jamesqo commented on #23
@RogerSchmidlin Sorry, but I think you have the wrong repository. We don't expose any of the APIs you've listed.

[2015-11-27 01:51] #23 closed, assigned to nobody

[2015-11-27 01:54] #7 closed, assigned to nobody

[2015-11-27 15:20] ghost opened #24 "Audio downoad"
Hi! I want to make an UWP app that downloads the audio from Youtube video and saves it to phone/PC. Since I have just discovered libvideo by browsing through the internet, I want to ask you if this "tool" allows me to download only audio from given Youtube video URL and saves it in device storage? If it can do that, can you please show me one code sample? To be honest, I want to know how would loo

[2015-11-27 18:20] i3arnon commented on #24
@IgorGiga not exactly the same... but you may want to take a look at YouCast: http://youcast.i3arnon.com/

[2015-11-29 04:34] jamesqo commented on #24
@IgorGiga Hi! Unfortunately, audio extraction is a work in progress at the moment, so it's not available yet. What you can try is downloading the code from [FLV Extract](http://moitah.net/) and tweaking it a bit to work on UWP. Once you've done that, you'll be able to extract the audio like so:

[code]

Good luck.

[2015-11-29 04:47] ghost commented on #24
Thank you for an answer! I will try that... BTW, when you will finish the audio extraction for libvideo? Sometime soon or...?

[2015-11-29 04:50] jamesqo commented on #24
Hmm... Probably within the next few weeks. I'm a bit busy right now though, so no promises.

[2015-11-29 04:57] ghost commented on #24
Ok... I think I will be here, when you finish it... :) I will wait, because this is the best tool I have found till now... And because it supports UWP! Nice.

[2015-12-08 01:17] ghost commented on #6
Would be mind-blowing!

[2015-12-08 10:15] i3arnon commented on #6
I feel that you guys are missing the fact that you can already get just the audio straight out of YouTube using one of the DASH types.
I don't see any need in parsing *.flv files to do that.
I've already implemented that in [YouCast](https://github.com/i3arnon/YouCast) if you're looking for an example:
https://github.com/i3arnon/YouCast/blob/master/Source/Service/YoutubeFeed.cs#L153

[2015-12-10 10:49] CJProgramming23 opened #25 "Video URI throwing System.ArgumentOutOfRangeException"
So I was trying to use this to download YouTube videos. It was working fine, then quite a few different YouTube URLs starting throwing errors when I tried to download it.
In this case "downloadInfo.YouTubeID" is "Ip6ex1vqf6I"
Here is the relevant code:
           `var yt = YouTube.Default;`
           `var video = yt.GetVideo( "https://youtube.com/watch?v=" + downloadInfo.YouTubeID );`

[2015-12-10 17:51] rubensollie commented on #25
I think I've found the problem for this issue. You just need to change a single line in YouTubeVideo.Decrypt.cs.

You need to change this function:
<code>
private string DeclaredFunctionPrefix(string function) =>
            "function " + function + '(';</code>

to this:
<code>
private string DeclaredFunctionPrefix(string function) =>
            function + "=function(";
</code>

It gives this exc

[2015-12-11 08:45] CJProgramming23 commented on #25
Yeah that works. It worked for all of the ~100 videos I tested it on. Thanks.

[2015-12-11 22:22] jamesqo commented on #25
Thanks for reporting this, guys. I'll publish a new NuGet package by tonight.

[2015-12-11 22:27] jamesqo commented on #25
Possibly related: https://github.com/ovnisoftware/YoutubeExtractor/commit/6126488199ac7678cb96109c2a32381b5fcc20b9

[2015-12-11 22:50] rubensollie commented on #25
No problem, happy to help. It would probably be the best to check for both function br(a) and br=function(a) though, might they change it back in the future. Could save some work later on. Good evening!

[2015-12-12 03:35] iamchandreshk commented on #20
This issue is not resolved yet.

[2015-12-12 07:01] jamesqo commented on #20
@chandresh29 Sorry, I had assumed you weren't active.

I'm running the [unit tests](https://github.com/jamesqo/libvideo/blob/master/tests/Core/Core/UnitTests.cs) against a couple of videos and they seem to be running fine, could you share the random link so I can test for it myself?

Thanks.

[2015-12-13 13:07] narqs commented on #6
@i3arnon  Hey how would i implement something like that into my current application? so that I can download the audio?

[2015-12-13 13:23] i3arnon commented on #6
@narqs You need to call `GetAllVideos(Async)` and filter the results looking for DASH audio.
You can look at how I implemented it in the link above.

[2015-12-13 14:41] narqs commented on #6
Oh that sure helped Thanks mate, I realized that I did not take a good look at your code, it's working now thanks again :)  :+1:

[2015-12-13 16:47] jamesqo commented on #6
@i3arnon Thanks for helping out; I hadn't realized that was possible myself. In the meantime I've already started a [new project](https://github.com/jamesqo/flavor.net) (had to tear down the old one because of maintainability reasons), so it's too late I guess haha.

[2015-12-18 12:56] rubensollie commented on #25
It seems like youtube has updated again, so the issue is back. No worries though, because the fix is really easy again.

It seems to have changed

from <code>var {function}=function()</code>
to <code>nh.{function}=function()</code>

so instead of checking for the var like we have now:
<code>int index = js.IndexOf($"var {function}=function(");</code>

we change it to:
<code>int index = js.IndexOf($

[2015-12-19 20:08] #25 closed, assigned to nobody

[2015-12-19 20:11] jamesqo commented on #25
Fixed again; I'll upload the new NuGet package within a few minutes. Thanks @rubensollie for notifying me.

[2016-01-10 22:09] dajuric opened #26 "Getting a stream"
I want to get a stream (by using .Stream()) method.
However, the stream is not readable. "GetBytes()" method works fine.

Can you explain what is happening ?

Edit:
the following works:

[code]

[2016-01-15 22:11] narqs opened #27 "Key Not Found Exeption: The given key was not present in the dictionary"
Hey im having problem with some urls
Here is one of them: https://www.youtube.com/watch?v=B3eAMGXFw1o
Keep getting a key not found exception, it points to ServiceBase.cs
Line 21: GetVideoAsync(videoUri).GetAwaiter().GetResult();
is anyone getting this too?

[2016-01-20 22:12] iancona commented on #25
It is happening again. :(

[2016-01-20 22:14] iancona opened #28 "Video URI throwing System.ArgumentOutOfRangeException"
It seems this problem is here again..

[2016-01-21 14:04] rubensollie commented on #27
Could it be, because of age blocking?

On youtube.com it will ask you for an age, before it loads the video. libvideo probably can't find the url's from the page, because they are not available yet, because of the age popup.

[2016-01-21 14:06] rubensollie commented on #28
I can't seem to reproduce this. In which video's does this happen?

[2016-01-21 18:32] narqs commented on #27
Oh did not notice that...

[2016-01-23 10:32] iancona commented on #28
No my mistake..sorry

[2016-01-23 10:32] #28 closed, assigned to nobody

[2016-01-23 10:41] rubensollie commented on #27
So, this seems to be the reason why:

"Unfortunately, this video is not available in your country because it could contain music, for which we could not agree on conditions of use with GEMA.

Sorry about that."

EDIT: Nevermind, YouTube thought I was in Germany, because of VPN :)
It is definitely the cause of the age popup. Going to think of a way to get past it :P

[2016-01-23 15:37] jamesqo commented on #27
Hey guys, sorry for not responding, been a little busy lately.

@rubensollie is most likely correct, the issue is probably due to the age restrictions on the video. I'll take a look into it when I have time and get back to you guys on this. It would be great if someone could submit a PR though :wink:

[2016-02-05 22:53] #24 closed, assigned to nobody

[2016-03-05 17:50] andreaciarrocchi opened #29 "Getting feedback regarding download"
Dear developers,
thank you for providing this great library. I think it would be useful to get some feedback during the download (bytes received / bytes total). Otherwise, users can easily think the app has frozen.
Nice work.

Andrea Ciarrocchi

[2016-03-15 06:37] barterajay opened #30 "how can I determine if download link is video or audio only?"

[2016-03-22 05:33] barterajay commented on #27
https://www.youtube.com/watch?v=GdBaljNAJbE for this i am not getting url in live but getting url in debugging mode... in live exception is same as yours.. any idea??

[2016-03-24 19:14] ATypescriptEnjoyer commented on #27
+1 with this. I was trying every Catfish and the bottlemen song :( some arent age rating'd

[2016-03-29 16:09] Mnjongen opened #31 "video quality"
is there a way to only get for example the 480p video instead of the 1080p video?

[2016-03-29 23:19] jamesqo commented on #31
Try filtering them by resolution:

[code]

[2016-03-30 05:19] #31 closed, assigned to nobody

[2016-04-06 09:28] bobledeveloper opened #32 "Async downloading video"
I've read how to download video with the sample but my app is lagging during download so i want to do tha async but i don't know how can you help me ?

[2016-04-06 09:49] narqs commented on #32
Remember, the function should be an async

[2016-04-06 23:18] ATypescriptEnjoyer opened #33 ""VideoLibrary.Exceptions.BadQueryException""
What does this error actually mean? The song I tried with it used to work, but now no longer works, and i'm really unsure why :(

Any help would be awesome

Cheers.

[2016-04-07 08:34] bobledeveloper commented on #32
Thanks a lot i'll test ;DDD

[2016-04-09 13:31] ATypescriptEnjoyer commented on #33
Update: Managed to fix by trying over and over to get the info for the URL. Takes about 5-10 attempts to get it working

[2016-04-10 09:06] iancona commented on #33
Same issue here..

[2016-04-10 12:02] ATypescriptEnjoyer commented on #33
I think it's a problem with a youtube update, it CAN retrieve the video it just takes a few attempts. Check out my TS3MusicBot to see how I did it if need be :P

[2016-04-10 18:20] gwigz commented on #33
This section of the URI that is fetched is throwing it off, as there's two sets of equals in the query string; `axtags=tx=9417362`.

[2016-04-10 19:41] gwigz commented on #33
Removing [this conditional](https://github.com/jamesqo/libvideo/commit/842115804a1b19ba59e2b74616114e1b4bc5e78c) causes the following exception:

[code]

[2016-04-11 03:09] namlai000 commented on #33
how about chang to API youtube-dl ... it's totally works flawless

[2016-04-12 09:44] gwigz commented on #33
https://github.com/flagbug/YoutubeExtractor/issues/179

[2016-04-26 14:18] soapergem commented on #27
@jamesqo I submitted a PR yesterday which should fix this issue.

[2016-04-28 14:09] gogognome commented on #27
For the URL https://www.youtube.com/watch?v=kp8u_Yrw76Q I also get the KeyNotFoundException. Turns out that adaptive_fmts returned no queries, which resulted again in Unscramble being called with an empty string as parameter. I will submit a Pull Request to fix this.

[2016-04-28 14:29] soapergem commented on #27
@gogognome I already submitted one...

[2016-04-28 14:50] gogognome commented on #27
@soapergem I first only saw your comment about adding an if and I thought that wouldn't solve the problem I faced. I just tested URL https://www.youtube.com/watch?v=kp8u_Yrw76Q on your pull request and I see that Unscramble gets called with queryStrings containing only the empty string. The empty string does not contain the URL, so the if statement prevents the KeyNotFoundException. My solution pr

[2016-04-28 14:58] soapergem commented on #27
Oh I see. Sounds good!

[2016-05-25 19:39] kirigar opened #36 "HttpRequestException code: 403 when using Video.GetBytes()"
I'm getting a HttpRequestException on certain videos the video I was testing it with is this one: https://www.youtube.com/watch?v=Lx2zzIkaUZQ
But I've only noticed this error with videos from this channel. (I haven't tested it a lot though)

[2016-06-10 13:11] ATypescriptEnjoyer commented on #36
Hmm, my music bot's using this api and it ran the song, although my music bot uses a try and catch for playing songs. Wrap your code in a try catch, and have the catch rerun the method with the song, it should work. If you need more help visit my TS3MusicBot, since it also uses the code and is all commented.

[2016-06-13 17:38] cameronelliott opened #37 "Pull request for a method that returns a System.IO.Stream"
Would the maintainers be open to receiving a pull request for a method that returns a Stream?
Thank you

[2016-06-19 10:09] Beallitasok opened #38 "Audio stream"
Hello, since Im making something like youtube music player for private usage, can libvideo stream only music, without video? It's the best YouTube .net library :)

[2016-06-19 21:21] Grimitsu commented on #38
You'll have to use something else. I would recommend you to use NAudio to make a player and FFmpeg for converting videos to audio files. YouTube stores only videos.

[2016-06-22 15:48] i3arnon commented on #38
Relevant: https://github.com/jamesqo/libvideo/issues/6#issuecomment-162839944

[2016-06-22 16:11] #38 closed, assigned to nobody

[2016-07-05 04:10] PikaDude opened #40 "Corrupt ID3 Tags"
Hi, I've been using LibVideo for quite a while now, however, lately I've been experiencing issues with downloading the audio track from a video. When I download it, the ID3 tag seems to be corrupt. Is there any way to fix this?

[2016-07-05 04:44] jamesqo commented on #40
@PikaDude Did you just update to a new version? What video are you having issues with? I'm slightly busy at the moment, but if I get around it I may be able to look into your issue.

[2016-07-05 13:46] PikaDude commented on #40
I managed to fix it. It had nothing to do with LibVideo. Another package called NAudio was having problems opening it so I switched to ffmpeg and now it works

[2016-07-05 14:28] #40 closed, assigned to nobody

[2016-07-08 21:18] kirigar commented on #36
Yeah, it works also works for me now. No idea what was going on then

[2016-07-08 21:18] #36 closed, assigned to nobody

[2016-07-19 22:54] Black-Platypus commented on #30
the `YouTubeVideo` class (what `.GetAllVideosAsync` returns, for example) has a property called `.AdaptiveKind`: an enumerator for `.Video,`, `.Audio` and `.None`

[2016-07-19 22:56] Black-Platypus commented on #30
Also, in the link, there's a `mime` parameter. In your case, it's "Video/mp4"

[2016-07-19 22:57] Black-Platypus commented on #29
Seconded.
(meanwhile, you can use the asynchronous downloads and display something like a spinner to indicate a running background task)

[2016-07-19 23:41] Black-Platypus commented on #20
I am getting a `System.Net.Http.HttpRequestException`: "Response status code does not indicate success: 403 (Forbidden) - might that be related?

It happens while calling `.GetBytes()` on a video that would cause the application to fail with an unhandled exception caused by #27 in 1.3.3
(for example https://www.youtube.com/watch?v=DW4f1x6IQ9o)

However, I can query the `.FullName`, for example, no

[2016-07-24 12:03] knight7024 opened #41 "Can I get other resolution video?"
I'm making Youtube Player but

[code]

this is just able to get low resolution. How I get various resolution video link?

[2016-07-26 19:52] Pyroglyph commented on #41
Quoted from the docs:
YouTube exposes multiple videos for each URL- e.g. when you change the resolution of a video, you're actually watching a different video. libvideo supports downloading multiple of them:

var videos = youTube.GetAllVideos(uri);

[2016-07-26 19:57] Pyroglyph opened #42 "YouTube playlist support?"
I was thinking, maybe some functionality could be added which supports playlists? Like perhaps a video.GetNextVideo() which returns the video which YouTube Autoplay would have played next, and also support for inputting a playlist URL and returning an array/list of YoutubeVideos? Features like this would be invaluable to my project and I'm certain it will be much appreciated by others as well.

[2016-08-05 16:24] ikupriyanov opened #43 "Missing opus audio format and 4K video."
For example this video (https://www.youtube.com/watch?v=Ic8NFI96f58) missing audio format (FormatCode = 251). Missing codes can be found on wiki (https://en.wikipedia.org/wiki/YouTube#Quality_and_formats).

[2016-08-17 18:15] MikeMoolenaar opened #44 "No audio at 1080P and higher"
When I download a video in 1080P or higher, it doen't have audio.
Is this a bug? If not, does anyone have found a solution?
720P and lower do have audio.

[2016-08-17 18:20] #44 closed, assigned to nobody

[2016-08-17 18:21] MikeMoolenaar commented on #44
I realised that youtube seperates audio and video, a solution for this is to download the video and audio separately and merge them with FFmpeg.

[2016-08-20 05:16] twentyTwo opened #45 "How to get remaining download time in GetBytesAsync() method ?"
How to get remaining download time in GetBytesAsync() method ?

[2016-08-25 18:41] ATypescriptEnjoyer commented on #42
Check my github for a sort of implementation. Its called YoutubePLAYLIST something or other.

[2016-09-08 19:46] bigworld12 commented on #17
@jamesqo how do you get the bytes of the video? do you use a stream to read them ?

[2016-09-09 00:53] Spov opened #46 "Documentation API in Visual Basic ?"
Hi,

Could someone translate the [Documents Api](https://github.com/jamesqo/libvideo/blob/master/docs/README.md) into Visual Basic for me. It would be very helpful since this is a new thing to me and it will help me understand the functions.

Thank you

[2016-09-09 01:07] #46 closed, assigned to nobody

[2016-09-19 18:17] ajay-verma8245 commented on #30
Thank you..

[2016-09-19 18:19] #30 closed, assigned to nobody

[2016-09-21 09:14] ahensialevich opened #47 "How to get progress value?"
How can I get some progress information about downloading process? For example, Youtube Extractor uses VideoDownloader, which can be attached to event handler (DownloadProgressChanged).

[2016-10-16 04:54] akcorp2003 opened #48 "Getting the video ID?"
It would be a nice feature if we could get the video IDs. I was wondering if that would be possible to add?

[2016-10-18 06:36] akcorp2003 commented on #47
That would be a nice feature to get! I think currently, the code is doing a functional approach so getting a progress value might not be possible. I can't be certain though.

[2016-10-19 13:24] ipmanlk opened #49 "Change download resolution with Visual Basic"
Hi, how to change the resolution of downloading video in Visual Basic? (360p,480p etc.).

`Dim video = YouTube.Default.GetAllVideos("https://www.youtube.com/watch?v=id")` can get all video resolutions, but how can I select the resolution I want to download?

[2016-11-09 19:52] DavidBarishev opened #50 "Cannot access the video stream"
Hello !
I must say that i absolutely love this repository, but i have found a really annoying bug that limiting me on my project.
I'm trying to access the stream in order to copy it to stdin of child process, here is the code:

[code]

I'm getting an disposed object error, here is the full exception:
[code]

Anyone has an idea why is this happening ?

[2016-11-15 15:28] AdrienTorris opened #51 ".NET Core compatibility"
It would be great to can use this library in .NET Core projects.

When we reference the nuget package in a .NET Core project, we have the following error :
_NU1002	The dependency VideoLibrary 1.3.4 does not support framework .NETCoreApp,Version=v1.0._

[2016-11-16 07:27] aseber commented on #50
I'm trying to do the exact same thing in my program and I've come to the same problem. If there is anyone who better understands the API that could help us, it would be greatly appreciated!

[2016-11-16 07:28] AdrienTorris commented on #51
https://github.com/jamesqo/libvideo/pull/52

[2016-11-22 20:31] ghost commented on #41
how to know what is the better res. video and only download this?
thanks

[2016-11-22 21:03] Pyroglyph commented on #41
GetAllVideos() returns an IEnumerable containing multiple YoutubeVideo objects of various qualities. Simply iterate through them and select the highest resolution. The resolution is stored in an int called Resolution in the YoutubeVideo object.

[2016-11-22 21:03] ghost commented on #41
ok
thanks
can you please give some example in vb.net?

[2016-11-22 21:09] ghost opened #53 "stream a video using vb.net"
Hello
can anyone show some example with vb.net for stream a video?
thanks

[2016-11-22 21:25] ghost opened #54 "vb.net and stream video?"
Hello
can anyone show some example with vb.net for stream a video?
thanks

[2016-11-22 21:27] ghost opened #55 "vb.net and end of download"
hello
how to know, using vb.net when the video download process is finished?
when i download a video, and i see the size is the right, i can not open it until some time has passed... but i do not know how many time...
any help?
thanks

[2016-11-22 21:36] #53 closed, assigned to nobody

[2016-12-06 01:31] Grimitsu commented on #51
use `portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10` moniker in your project to import packages or `portable-net45+win+wpa81` or `portable-net45+win8+wpa81`.

[2016-12-08 07:26] #51 closed, assigned to nobody

[2017-01-06 21:00] Sracinas opened #58 "System.ArgumentOutOfRangeException when getting encrypted video url"
This is what I get when trying to get uri of the video.
'new System.Linq.SystemCore_EnumerableDebugView<VideoLibrary.YouTubeVideo>(videos).Items[0].Uri' threw an exception of type 'System.ArgumentOutOfRangeException'

I look for videos like this:
IEnumerable<YouTubeVideo> videos = YouTube.Default.GetAllVideos(url)
                .Where(x => x.Format != VideoFormat.Unknown && x.Format != VideoForm

[2017-01-31 10:49] hakiour commented on #55
Hello,
If you do:
`YouTube.Default.GetVideo(link)`
`File.WriteAllBytes("C:\" & video.FullName, video.GetBytes())`
`MessageBox.Show("Hello world!")`
When alert "Hello world" is displayed, it means you video is downloaded on C:\, and ready to play it.

[2017-01-31 11:19] hakiour opened #60 "VideoLibrary stop working well"
I think something is wrong, all my apps that use VideoLibrary for download videos stop working unexpectedly when someone try to download any video... This is the error:

**Translation**:

Any idea?

[2017-01-31 12:47] cYnd commented on #60
Same error for me!
I'm using the VideoLibrary in VB.NET

[2017-01-31 12:48] cYnd commented on #47
I appreciate a progress information too.

[2017-01-31 15:51] hakiour commented on #60
Same thing on YoutubeExtractor, I think Youtube change something

[2017-01-31 16:58] hig-dev commented on #60
Fixed it in my fork https://github.com/hig-ag/libvideo and added a pull request #61

[2017-01-31 17:10] kiquenet commented on #55
Can You create unit tests in project , c#? Then convert to VB easy

El 31/01/2017 11:49, "Hamza Akiour" <notifications@github.com> escribió:

[2017-01-31 20:03] TheLordAndrew commented on #60
Getting this error on the version I have from Nuget in Visual Studio 2015 with C#. Should I download your fork and compile it @hig-dev?

[2017-02-01 23:54] aboe026 commented on #60
I'm getting the same error, glad to hear its not just me. Would be great to get pr #61 merged in and updated in NuGet for Visual Studio.

[2017-02-03 19:05] hig-dev commented on #60
@TheLordAndrew You should if you don't want to wait for @jamesqo.

[2017-02-03 19:08] TheLordAndrew commented on #60
@hig-dev when do you think it'll be merged/jamesqo will write his own fix?

[2017-02-03 19:13] hig-dev commented on #60
@TheLordAndrew I don't know. The latest commit was on 23 Jun 2016, so maybe never. I will update my fork because I'm using it in a production app (REAL Shuffle Player)

[2017-02-03 19:14] TheLordAndrew commented on #60
Yeah, that was my fear. Anyway, we'll see I suppose.

[2017-02-05 08:45] ghost commented on #49
I need help too.

[2017-02-05 09:15] acosano commented on #49
Here we go, I hope this will help get you starting. I assume you using a Combobox to show the available Video formats and the Combobox don't support the item Tag. Meaning either you display the Title or the Video Quality. So I have create a class CBOHelper with 2 properties that will do what you need.
`
Public Class CBOHelper

    Private VideoDescription As String
    Private VideoURl As String

[2017-02-05 09:20] acosano commented on #41
Just have a look at this post [https://github.com/jamesqo/libvideo/issues/49](https://github.com/jamesqo/libvideo/issues/49), I just answer your question with sample code.

[2017-02-05 18:37] aalitor opened #62 "How to get mp3 audio download url from a video?"
I can't find any resource to extract mp3 url from a youtube video for libvideo. What is the code to do this?

Using this method I can't get any mp3 file.

[code]

[2017-02-06 07:43] acosano commented on #62
Your sample work for me. I get this

[2017-02-06 14:40] aalitor commented on #62
I know the library success at getting the title of the video. I am talking about the 'Video.Uri' throws exception. So you must test it using 'item.Uri'

[2017-02-06 15:25] narqs commented on #62
hey, i don't think you can exstract the mp3. you can however extract the audio only, and then convert it later on, this is how you extract the audio ->
`var audio = await YouTube.Default.GetAllVideosAsync(string.Format("URL"));`
` var audios = audio.Where(_ => _.AudioFormat == AudioFormat.Aac && _.AdaptiveKind == AdaptiveKind.Audio).ToList();`
` var mpAudio = audios.FirstOrDefault(x => x.AudioBitr

[2017-02-06 16:24] narqs commented on #62
I haven't played around much with audio's but i think you can use the MediaToolkit from nuget
once importet you could do something like this.

**Example:** _The file you download would be saved to the desktop with this_
`string finalName;`
`string path;`

`final = video.FullName;`
`string save = System.IO.Path.Combine(path, finalName);
Convert();`

**finalName** _would be the fullname of your vide

[2017-02-11 10:43] ATypescriptEnjoyer commented on #58
Hey, so do encrypted videos work with youtube extractor?

[2017-02-11 14:48] DusterTheFirst opened #63 "Downloading Videos"
When using `vid.GetBytes()` On `https://www.youtube.com/watch?v=q6EoRBvdVPQ`, I get  An invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set.

The URL Has A base Adress But Keeps Throwing The Error.

[2017-02-11 16:37] hig-dev commented on #60
Fixed YouTube Decryption again

[2017-02-11 16:39] hig-dev commented on #63
See at issue #60. And the PR #61 should fix this issue.

[2017-02-11 21:54] acosano opened #64 "How to get Video size"
Hi,
Is there anyway you can get the video size before downloading the video. I'm adding videos to a Queue with the title and the size and format. I know I can call the video download and get the size but thats a pain int he bud as you will make several calls depending on how many videos you queuing. Would there be a change to add that to the library??

Thanks for any help.

[2017-02-11 22:26] DusterTheFirst commented on #63
Thank You, I compiled your fork, i hope it gets accepted soon.

[2017-02-11 22:26] #63 closed, assigned to nobody

[2017-02-13 02:56] ale97dro opened #65 "Different resolution"
Hi, I'm using your library with C# but I can't download video with different resolution: if I choose, for example, 144p resolution, the video that I download have lag and it is 8 minutes long instead of 4.
I can't also download from official channel like "Vevo". How can I fix the problem, mostly the first?

Thank you!

[2017-02-14 20:30] omansak opened #66 "Update Please"
doenst work right now

[2017-02-16 20:43] omansak commented on #66
has 403 Forbiden error

[2017-02-16 22:04] omansak commented on #63
thx

[2017-02-16 22:05] Sicryption opened #67 "YouTubeVideo.Uri Exception"
Uri = new System.Collections.Generic.Mscorlib_CollectionDebugView<VideoLibrary.YouTubeVideo>(audio).Items[0].Uri threw an exception of type 'System.InvalidOperationException.

This does not apply on all URLs, however, most music video URLs have this problem. Here are a few along with the source code I am using:

[code]

Not working Urls:
`https://www.youtube.com/watch?v=8gsGhdZDC-0
https://www.you

[2017-02-22 01:47] win32kbase commented on #67
I'm having this exact issue. Any fixes yet?

[2017-02-23 01:55] Sicryption commented on #67
I got around this by using the libvideo that is one of the active pull requests: https://github.com/jamesqo/libvideo/pull/61

[2017-02-23 23:21] sommmen opened #68 "Troubles with certain youtube links."
Hi,

I am using #61 to download about 180 youtube videos.
For some reason however I get errors with the following youtube videos:

[code]

Code:
[code]

Ofcourse the error occurs in allvideos as getAllVideos couldn't retrieve the video data somehow.

I haven't the slightest clue why. Videolib just returns an InvalidOperationException which points out that my allvideos is empty; thus something goes

[2017-02-26 09:59] acosano commented on #67
Hi, Is working 100% for me. Let me know if you need the code, I'm using exact the same code above with MediaToolkit to convert to mp3 as describe in [https://github.com/jamesqo/libvideo/issues/62](url)

[2017-02-26 10:02] acosano commented on #62
Hi, Is working 100% for me. Let me know if you need the code, I'm using the code from [#67](https://github.com/jamesqo/libvideo/issues/67) with the MediaToolkit to convert to mp3 as describe above by narqs. BTW Thanks for the conversion code.

[2017-03-01 23:11] omansak opened #69 "New Pull Request"
Some videos are not avaible to youtube so we must use

Add Custom Exception.
[code]
Change Video.cs
[code]

Usage  :
[code]

[2017-03-01 23:12] omansak commented on #68
some videos unavaible so use custom ex

[2017-03-02 10:46] sommmen commented on #68
"use custom ex" i'm afraid i do not know what you mean.
The second one is indeed unavailable in my country but the first and third i can acces just fine...

[2017-03-02 12:14] omansak commented on #68
https://github.com/hig-dev/libvideo this works, download source codes and copy src->libvideo

[2017-03-02 23:32] win32kbase commented on #69
Looks good, but "Unavailable" needs to be spelled properly.

[2017-03-03 01:38] omansak commented on #69
this is just sample

[2017-03-03 06:33] Nicolas40a opened #70 "Can't install the NuGet plugin"
Hi,

I am trying to install the plugin with NuGet on VS2015 but I get this error and have no idea how to solve this.

Here is what you can find on my csproj file:

`<TargetFrameworkVersion>v4.5</TargetFrameworkVersion><TargetFrameworkProfile>Profile259</TargetFrameworkProfile>`

And here what my configuration looks like:

![image](https://cloud.githubusercontent.com/assets/8047416/23540773/51a6b01

[2017-03-08 22:33] sommmen commented on #68
@omansak was already using that :)
(forking and rebuilding works better btw)

still issues with these out of like 300 links or something. Quite peculiar.

[2017-03-09 10:13] Tyrrrz commented on #68
They are age-restricted videos. Check out [YoutubeExplode](https://github.com/Tyrrrz/YoutubeExplode) to download those.

[2017-03-09 10:17] Tyrrrz commented on #64
[YoutubeExplode](https://github.com/Tyrrrz/YoutubeExplode) does that automatically

[2017-03-09 10:18] Tyrrrz commented on #42
[YoutubeExplode](https://github.com/Tyrrrz/YoutubeExplode) supports getting video ids from playlists

[2017-03-09 10:21] Tyrrrz commented on #48
[YoutubeExplode](https://github.com/Tyrrrz/YoutubeExplode) has that

[2017-03-16 02:52] omansak opened #71 "My UWP Application :)"
https://www.microsoft.com/store/apps/9nkcr21r7d6s

Download & Feedback :)

Thanks : @jamesqo & @hig-dev

[2017-03-16 02:54] omansak commented on #71
I am using https://github.com/hig-dev/libvideo

[2017-03-21 00:37] acosano commented on #64
Thanks for the info; I worked out from your code. Here sample.

`
Public Shared Function GetFileSize(url As String) As String

        ' Initialize WebClient to make the call to the server
        Using obj As New WebClient()

            ' Initialize a Stream object to read the response from the server
            Using s As Stream = obj.OpenRead(url)

                ' Declare String Array to ho

[2017-04-08 13:05] sommmen commented on #68
Age restricted it is. if you're having the same issue;
- check if you can acces the underlying http requests and give it some logged in cookies on a 18+ yt/google+ account
- as @Tyrrrz said youtubeExplode
- find some other way to circumvent this.

I will be using the first method since i am already doing some stuff with google+ cookies etc. We need a fix for this library though. i'm closing this i

[2017-04-08 13:05] #68 closed, assigned to nobody

[2017-04-15 20:14] anideath opened #72 "Need help getting multi resolution to work c#"
Hi,

at first, big thanks for this library. It's working great so far but I need help to get the resolution thing correctly working. I added a combobox for selecting resolution. I'm new to programming so I don't understand all things immediately. Here are my codes so far:

Download Button:

[code]

In the combobox, I put this entries, hope this is correct:

480
720
1080

Combobox, nothing in there

[2017-04-24 23:25] dk0x opened #73 "Bug System.InvalidOperationException"
Try this:

VideoLibrary.YouTubeVideo v;

v = VideoLibrary.YouTube.Default.GetVideo("https://www.youtube.com/watch?v=HInwDN5UPsY");
uri = v.Uri; // <-- System.InvalidOperationException

in v.uri = https://r8---sn-vh3j-vhne.googlevideo.com/videoplayback?itag=22&ratebypass=yes&ipbits=0&upn=IRIBS2MD2Bk&key=yt6&dur=480.258&initcwndbps=4480000&ei=_4f-WL7RCY29YYL6nnA&lmt=1472004299796290&sparams=dur,ei,i

[2017-04-25 12:20] dk0x commented on #73
ok. i try this

uri = v.GetUriAsync().Result;

anyway System.InvalidOperationException

[2017-04-25 12:50] dk0x commented on #73
this Exception throw only if v.IsEncrypted == true

bug with decrypting?

[2017-05-11 12:13] frixos25 commented on #73
Some solution?
I want to use the lib if it works fine.

[2017-05-12 13:36] dk0x commented on #73
https://github.com/tristanmcpherson/libvideo

in this fork @tristanmcpherson fix this problem

use libvideo by download and put into your solution

[2017-05-13 13:08] nefarius commented on #50
This was bothering me too, it's a pretty severe bug, [I fixed it in my fork](https://github.com/nefarius/libvideo) ([My NuGet](https://www.nuget.org/packages/Nefarius-VideoLibrary/)). Access the Stream like this:

[code]

[2017-05-13 13:18] nefarius commented on #47
This was bothering me too, [I fixed it in my fork](https://github.com/nefarius/libvideo) ([My NuGet](https://www.nuget.org/packages/Nefarius-VideoLibrary/)). Access the Stream length like this:

[code]

[2017-05-13 13:52] nefarius commented on #47
To get progress while downloading I use it in conjunction with [ProgressStream](http://mel-green.com/2010/01/progressstream/):

[code]

[2017-05-13 15:15] DavidBarishev commented on #50
I have actually moved to YouTube explode by trazz library , it's really great and works perfectly.

[2017-05-13 15:15] #50 closed, assigned to nobody

[2017-05-13 15:52] nefarius commented on #50
@DavidBarishev link?

[2017-05-13 17:14] DavidBarishev commented on #50
https://github.com/Tyrrrz/YoutubeExplode

[2017-05-13 18:15] nefarius commented on #50
Thank you.

[2017-05-13 18:45] aseber commented on #50
Thank you for the link to the other library. I'll use that for the time being as well!

[2017-05-16 22:36] akcorp2003 commented on #47
Will this become a pull request?

[2017-05-17 10:17] ErlantzCalvo opened #74 "How to download videos in mp3"
I'm looking for a way to download only the .mp3 file or convert it once downloaded the bytes.

[2017-05-19 06:44] #74 closed, assigned to nobody

[2017-05-24 12:01] azizullah-masology opened #75 "Response status code does not indicate success: 403 (Forbidden)."
Hi

I am working on a project that download videos/audios form youtube using libvideo. But I am having issue with some of the videos, they are throwing exception 403. Following is my code:

` var downloadFolder = Environment.GetFolderPath(Environment.SpecialFolder.MyMusic) + "\\" + channelName;

            var youTube = YouTube.Default;
            var audio = youTube.GetAllVideos(string.Format(u

[2017-05-25 00:56] tristanmcpherson commented on #73
I have a version of libvideo on my MyGet if you would like that

On May 24, 2017 7:45 PM, "Matt Wherry" <notifications@github.com> wrote:

[2017-05-26 08:31] Tyrrrz commented on #75
What's the ID

[2017-05-26 09:26] azizullah-masology commented on #75
Thanks for replay... @Tyrrrz
The ID of video?? if u are asking the id of video, it is... for example this video: kv63n_rfJwk
The url for this video is: https://www.youtube.com/watch?v=kv63n_rfJwk
I tried multiple videos to download by above code... some of the videos are downloading and some throw 403 exemption.

[2017-05-26 13:24] Tyrrrz commented on #75
Hm seems to work in [YoutubeExplode](https://github.com/Tyrrrz/YoutubeExplode), you can use that instead if you want a quick solution

[2017-06-25 01:00] Mds92 opened #76 "An invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set."
When I want to get Videos from `https://www.youtube.com/watch?v=MvK-3Ms3m34&list=RDGMEMJQXQAmqrnmK1SEjY_rKBGA` the following exception occurred in each video Uri property
[code]
How should I get uri?

[2017-07-31 02:17] jamesqo opened #77 "ATTENTION: This project isn't actively maintained. I'm looking for a maintainer."
Hi everyone,

As of the time of writing, I haven't committed to this project in over one year. I got notifications about all of the comments/issues that you guys have made, but I just kept putting off responding to you guys because I've lost interest in the project/I was busy. Sorry about that 😢

I'm looking for someone to become the new maintainer of this project. @i3arnon, I just saw your messag

[2017-07-31 02:21] jamesqo commented on #77
/cc everyone who's made a PR:

@i3arnon @Grimitsu @AdrienTorris @jackw899 @soapergem @gogognome @spoiledtechie @hig-dev

In addition to @i3arnon, I would also particularly be open to @AdrienTorris / @hig-dev becoming maintainer since it looks like they've made PRs that add valuable functionality (#52, #61).

[2017-07-31 04:58] i3arnon commented on #77
I guess I'm at a somewhat similar point as you, but I do support (and use) YouCast which depends on libvideo...
So I'll gladly take it over, but mainly for bug fixes and maybe the occasional performance optimization when time allows. I don't plan on revolutionizing it with new features.

If that direction sounds good, let's do it. If someone else has the stamina and the ability to do more, that co

[2017-08-01 01:41] jamesqo commented on #77
@i3arnon

That's fine. There seems to be another library for this now, with an even cleaner API: https://github.com/Tyrrrz/YoutubeExplode. Perhaps there is not much point in reinventing the wheel for this project.

Unless someone else responds within 5-7 days, I'll start transferring ownership to you.

[2017-08-04 21:48] ProbablyBen commented on #76
I solved this issue by removing the https to http.
Assuming you are passed the link as a string, you can do this:
link = link.Replace("https", "http");

[2017-08-07 18:10] MJWherry commented on #48
Use a regex expression
This is mine:
youtu(?:\.be|be\.com)/(?:.*v(?:/|=)|(?:.*/)?)([a-zA-Z0-9-_]+)
it gets an id from all youtube link formats

[2017-08-07 20:39] narqs commented on #48
Using YouTube's api, you could seach on YouTube and get the desired video id, and a bunch of other things like thumbnails and playlists
**Google.Apis.YouTube.v3;**
it's quite simple to use
https://developers.google.com/youtube/v3/code_samples/dotnet

[2017-08-10 15:11] jamesqo commented on #77
@i3arnon I just sent you an invitation link to become a collaborator. Please accept the invite, then I'll find a way to make you the owner.

[2017-08-12 14:33] i3arnon commented on #77
Accepted it.

[2017-08-12 21:09] jamesqo commented on #77
@i3arnon You need to delete your fork before I do the transfer, otherwise GitHub tries to create `i3arnon/libvideo` which already exists.

[2017-08-12 21:20] i3arnon commented on #77
@jamesqo I've deleted the fork.

[2017-08-12 21:37] jamesqo commented on #77
@i3arnon Happy to transfer this project to you. I'm sure you'll do a good job of maintaining it! 😄

I just pushed a commit that deleted all of my credentials from the README, I think I've removed everything about me but if you find more stuff elsewhere feel free to delete it. The project is in your hands now.

[2017-08-12 21:37] #77 closed, assigned to nobody

[2017-08-13 22:21] i3arnon commented on #77
@jamesqo Thanks, I'll try and live up to the expectations :).
Quick question though: How do I update the nuget?

[2017-08-14 02:14] spoiledtechie commented on #77
Yay and welcome @jamesqo!!!!

[2017-08-14 02:19] jamesqo commented on #77
@i3arnon I have to add you as an owner on NuGet, too-- I just sent you the invite.

[2017-08-14 17:07] jamesqo commented on #77
@i3arnon I see you've accepted the invite. I'll explain here how I published the NuGet packages in the past.

Previously, I used a [custom build script](https://github.com/i3arnon/libvideo/blob/master/build.sh) to automatically create the `nupkg` files, then I would manually go to nuget.org and upload them. The build script is written for MSys, the Linux-like shell that comes with Git Bash.

If yo

[2017-08-18 12:19] massimocode commented on #76
I also get the same issue with certain links, for example:
`https://www.youtube.com/watch?v=hS5CfP8n_js`

Using HTTP over HTTPS does not help

[2017-08-19 15:49] i3arnon commented on #77
@jamesqo Needed to install Microsoft Build Tools 2015 to make it work, but other than that, that's a very nice and simple build script.
You added me to the main nuget, but not to the compat one (I assume unintentionally). Can you add me to that as well and I'll publish?

[2017-08-19 16:42] jamesqo commented on #77
@i3arnon Sure thing, I just added you to the compat package.

[2017-08-24 07:45] #71 closed, assigned to nobody

[2017-08-24 23:59] Lulzphantom commented on #76
Same here, I think it's by copyright

[2017-08-25 00:10] Lulzphantom commented on #76
Fix: https://github.com/hig-dev/libvideo , compile project "libvideo-master\src\libvideo.sln" and import "libvideo-master\src\libvideo\bin\Release\libvideo.dll".

[2017-08-30 09:10] azizullah-masology commented on #76
I am getting the same issue with some of the videos. @LulzoRean , i compiled "libvideo-master\src\libvideo.sln" from.. https://github.com/hig-dev/libvideo . But i am getting 212 errors on compile.

[2017-09-22 02:29] natansystem commented on #76
azizullah-masology I have the same problem when compiling the solution. someone who can help me to avoid that URI bug address

[2017-09-22 02:32] natansystem commented on #76
have not yet updated the nugget with this improvement?

[2017-09-27 14:59] natansystem opened #78 "get download progress"
get download progress
friends some idea of how to get the download progress with web client and http client, in c # or vb another option of how to implement the download with backgroundworked. please help. thanks for the library

[2017-10-04 21:56] KiLLeRRaT commented on #75
I'm also getting this issue.

[2017-10-17 22:29] Zinshis commented on #75
I have come across the same issue, but might have found the cause.

It would appear that the _DecryptFunction_ in _YoutubeVideo.Decrypt.cs_ does not seem to find the javascript "decrypt" function. It is searching for a function along the lines of "foo.sig||bar(baz)", but now the function needs to be (at least in my experience) "d.set("signature",bar(c))"", where "bar" is the function we're looking

[2017-10-31 03:43] boswelja commented on #76
I've got the same issue, it only occurs with certain links too (replacing https with http does not help)

[2017-11-13 20:00] sandizeher commented on #76
For me issue was solved as proposed by **LulzoRean**. Cloned repo and built it. However, I didn't build entire solution but only libvideo project. Took dll file from bin folder, put it in my own project DLL folder,  referenced it and it works like a charm.
Thx!

[2017-12-10 20:21] ccooper4 opened #79 "Getting a System.OutOfMemoryException when running video.GetBytes()?"

[2017-12-17 22:56] farazp opened #80 "video size more then 720 not have audio when downloaded"
when I try to download video full hd or upper quality not have audio!!!
var videos = await youTube.GetAllVideosAsync(link);
var maxRes = videos.OrderByDescending(v => v.Resolution).FirstOrDefault();

how to download full hd or 4k video with sound and audio?

[2018-01-08 19:16] ghost opened #81 "Xamarin.Android error with alpha version"
Hey, I've tried the example Valks which works pretty good in console, but when I try this in Xamarin I am getting: "_System.InvalidOperationException_".

![2018-01-08 20 16 19](https://user-images.githubusercontent.com/9156280/34687973-cfe7ded0-f4b0-11e7-9eb3-4cb17e120f13.jpg)

Thanks.

[2018-01-12 22:12] #81 closed, assigned to nobody

[2018-02-01 11:25] szblajos opened #82 "403 (Forbidden)"
Hi guys! Thank you for the great job to create and maintain this awesome project.
Up to now, everything has worked properly with downoading youtube vids...
BUT!
Since February 01. 2018 downloading is not possibe. VideoLibrary.YouTibeVideo.GetBytes() function throws a 403 (Forbidden) exception.
Maybe Youtube made some changes on their site.
Could you please fix this error?

Thank you!

[2018-02-02 03:36] darthjames1978 opened #83 "Broken"
It appears the majority of YouTube content is broken, the URLs this code returns issue an HTTP 403.

Perhaps this is for only for video that is monetized?

Rarely a video works with this software.

[2018-02-02 21:13] omansak commented on #82
++

[2018-02-03 02:41] hig-dev commented on #82
It's fixed in my fork: https://github.com/hig-dev/libvideo

[2018-02-03 02:41] hig-dev commented on #83
It's fixed in my fork: https://github.com/hig-dev/libvideo

[2018-02-03 08:47] szblajos commented on #82
Thanks bro! It works like a charm!  :) 👍

[2018-02-03 09:02] omansak commented on #82
@hig-dev  Thx :)

[2018-02-04 16:56] MusMuss1 opened #84 "Broken again ?"
1.3.6 Alpha Doesn't work for videos like [this](https://www.youtube.com/watch?v=Ths_Sokgdds) :(
(https://www.youtube.com/watch?v=Ths_Sokgdds)

[2018-02-04 19:09] massimocode opened #85 "Needs new maintainer"
This repository needs a new maintainer. There are loads of bugs with lots of valid PRs to fix them. I think @i3arnon is far too busy to deal with the issues.

[2018-02-11 20:12] dajuric opened #86 ".NET Core 2.0 support"
Are there any plans to support .NET Core 2.0 ?
(to release the compatible packages)

[2018-02-18 17:07] saghen commented on #78
Refer to the following stack overflow question: https://stackoverflow.com/questions/20661652/progress-bar-with-httpclient

[2018-02-18 17:08] saghen commented on #80
I am encountering this issue as well. A solution would be greatly appreciated.

[2018-03-10 04:09] TrynCatchMeh commented on #64
I would love to know how to do this as well.

[2018-04-10 12:48] i3arnon commented on #75
Hey @azizullah-masology,
I think I fixed your issue and this video works for me with the latest beta version (https://www.nuget.org/packages/VideoLibrary/1.3.6-beta).
I'm closing this issue but please tell me if you have any issues.

[2018-04-10 12:48] #75 closed, assigned to nobody

[2018-04-10 13:03] i3arnon commented on #76
Hey everybody,
I think I fixed your issues in the latest beta version (https://www.nuget.org/packages/VideoLibrary/1.3.6-beta).
I'm closing this issue but please tell me if you have any issues.

[2018-04-10 13:03] #76 closed, assigned to nobody

[2018-04-10 13:05] i3arnon commented on #79
Hey @ccooper4,
Could post the video url and code you use that you get this exception with?
It could be that the video is just too big for your memory to handle, but maybe there are some inefficient things being done that I can optimize.

[2018-04-10 13:08] i3arnon commented on #82
Hey @szblajos, @omansak
I think I fixed your issues in the latest beta version (https://www.nuget.org/packages/VideoLibrary/1.3.6-beta).
I'm closing this issue but please tell me if you have any issues with any videos.

[2018-04-10 13:08] #82 closed, assigned to nobody

[2018-04-10 13:10] i3arnon commented on #83
Hey @darthjames1978,
I think I fixed your issues in the latest beta version (https://www.nuget.org/packages/VideoLibrary/1.3.6-beta).
I'm closing this issue but please tell me if you have any issues with any videos.

[2018-04-10 13:10] #83 closed, assigned to nobody

[2018-04-10 13:13] i3arnon commented on #84
Hey @MusMuss1,
I think I fixed your issue and this video works for me with the latest beta version (https://www.nuget.org/packages/VideoLibrary/1.3.6-beta).
I'm closing this issue but please tell me if you have any issues.

[2018-04-10 13:13] #84 closed, assigned to nobody

[2018-04-10 13:21] i3arnon commented on #80
YouTube uses Adaptive video for higher resolution videos. That means they use separate streams for video and audio.
You can download them both (see `IsAdaptive` and `AdaptiveKind`) and merge them later with FFmpeg or stay with 720p and lower.

[2018-04-10 13:21] #80 closed, assigned to nobody

[2018-04-12 09:15] HiImLesic opened #87 "Error on GetBytes"
I just installed the nuget and I basically get an InvalidOperationException on any link I try to download on GetBytes.

`var youtube = YouTube.Default;
				var videos = youtube.GetAllVideos(this.videoToDownload.Link);
				var audio = videos
					.Where(v => v.AudioFormat == AudioFormat.Aac && v.AdaptiveKind == AdaptiveKind.Audio)
					.ToList();
				if (audio.Count > 0)
				{
					byte[] bytes = a

[2018-04-12 09:52] i3arnon commented on #87
@HiImLesic
Did you install the latest stable version of the nuget (version 1.3.5)?
Could you try using the latest beta version instead (1.3.6-beta) and tell me if you still get these errors?

[2018-04-12 10:08] i3arnon commented on #87
It is (https://www.nuget.org/packages/VideoLibrary/1.3.6-beta)
If you add the nuget via Visual Studio you need to check the little box that says "include prerelease" (see https://docs.microsoft.com/en-us/nuget/create-packages/prerelease-packages#installing-and-updating-pre-release-packages)

[2018-04-12 10:09] HiImLesic commented on #87
Good stuff, this is working, thank you!

[2018-04-12 10:09] #87 closed, assigned to nobody

[2018-04-12 10:10] i3arnon commented on #87
Great to hear.
I'll soon release a stable build, I just wanted to make sure this works for other people as well...

[2018-04-16 15:35] MusMuss1 commented on #84
Hey, everything works so thank you very much :)

2018-04-10 15:13 GMT+02:00 Bar Arnon <notifications@github.com>:

[2018-04-19 07:35] romanrakus opened #88 "Save large video error"
Hi,

When I try to save large video(couple hours) I have following exception:
`System.Net.Http.HttpRequestException: 'Cannot write more bytes to the buffer than the configured maximum buffer size: 2147483647.'`

I think it should be fixed in the library or somehow configurable.

[2018-05-06 06:26] serban-mihai opened #89 "FormatCode for 4k resolution FOUND!"
Nice work with the lib in first place.
By scrapping the HTML plain text I got that YouTube introduced a new code for 2160p resolutions which is **313**, please update the Resolution FormatCode in src/libvideo/YouTubeVideo.Format.cs
 with a
`case: 313 `
when returning 2160 and update the NuGet Package. This should allow us to download videos at 4k resolution.
![screenshot 9](https://user-images.git

[2018-05-06 13:41] i3arnon opened #90 "Support opus encoded webm adaptive audio"
Audio formats: 249, 250, 251
Example: https://www.youtube.com/watch?v=cZYNADOHhVY
See: https://en.wikipedia.org/w/index.php?title=YouTube&oldid=800910021#Quality_and_formats

[2018-05-06 14:05] i3arnon commented on #89
Fixed: https://www.nuget.org/packages/VideoLibrary/1.3.7
Thanks for pointing this out.
Please tell me if the update doesn't work for you for some reason.

[2018-05-06 14:05] #89 closed, assigned to nobody

[2018-05-20 16:11] i3arnon commented on #90
Solved by 4a71898463bb27a3044b25ccbcf34f2f8e505f38

[2018-05-20 16:11] #90 closed, assigned to nobody

[2018-05-20 18:39] i3arnon opened #91 "Update changelog.md (retroactively :))"

[2018-05-21 09:55] i3arnon commented on #86
Yes :)
I've just published a beta package supporting .NET standard: https://www.nuget.org/packages/VideoLibrary/2.0.0-beta

Could you maybe try it out and share whether it works for you?
Here's the PR I'm using to track this move: https://github.com/i3arnon/libvideo/pull/92

[2018-05-22 14:44] #86 closed, assigned to i3arnon

[2018-05-22 15:51] dajuric commented on #86
Thanks :)

On Tue, 22 May 2018 16:44 Bar Arnon, <notifications@github.com> wrote:

[2018-05-31 18:29] andersonvieiragomeslopes opened #93 "Xamarin Forms"
I want to use xamarin forms, how do I?

[2018-06-08 13:22] npsiegfried opened #94 "No Sound?"
Whenever I download a video in any resolution and format I get no sound with the video. When I check the audio properties of the video there's nothing listed. Is there a fix for this?

[2018-06-25 09:22] i3arnon commented on #94
YouTube uses adaptive video for resolutions above 720p. That means the video and audio streams are separate.
You can download both and merge them later with ffmpeg, or filter the videos using `AdaptiveKind` (keep in mind that limits you to 720p).

[2018-06-25 09:22] #94 closed, assigned to nobody

[2018-07-04 14:31] amirvenus commented on #93
I am trying to use it on Xamarin.Forms.UWP but I get an exception.

[2018-07-04 16:08] i3arnon commented on #93
@amirvenus which exception?

[2018-07-04 18:09] andersonvieiragomeslopes commented on #93
@amirvenus do you have any tutorial to use with xamarin forms android?

[2018-07-04 22:02] narqs commented on #93
You can use libvideo in Xamarin android as you would do in wpf.

[2018-07-05 01:40] andersonvieiragomeslopes commented on #93
@narqs Yes, since no renderer is needed, it is that it has nothing specifying if it is necessary, when it involves videos the forms xamarin is very complicated.

[2018-07-05 01:41] andersonvieiragomeslopes commented on #93
I will try to implement based on xamarin forms UWP, in case of problems, reopen this problem, thanks guys.

[2018-07-05 01:41] #93 closed, assigned to nobody

[2018-07-07 15:27] oSumAtrIX opened #95 "60 frames per second download?"
Title

[2018-07-07 15:31] oSumAtrIX commented on #88
Since we reach the max value of what an integer can represent, we need to split the buffer

[2018-07-08 10:35] romanrakus commented on #88
@oSumAtrIX I believe that's should be a configurable option.

[2018-08-02 13:39] noorphish commented on #79
Hello,
same Error in my case.

Try to download this video: URL deleted

My Code:
`
Private Sub YouTubeVideoDownload(ByVal strLink As String)
        Dim video = VideoLibrary.YouTube.Default.GetVideo(strLink)
        File.WriteAllBytes("D:\" & video.FullName, video.GetBytes())
End Sub`

[2018-08-09 14:18] noorphish commented on #79
Can we expect a fix to solve the problem, or is my code false?

[2018-08-18 07:41] HiImLesic opened #96 "No Pictures/Thumbnails downloaded"
I have my own little music program so to say and I also display the songs downloaded using VideoLibrary.
I'm using [https://github.com/taglib/taglib](TagLib) to extract file information including pictures that .mp3 files usually contain. However, the files downloaded with VideoLibrary don't contain any pictures. Windows also displays these pictures when viewing the files in the explorer.

Would it

[2018-08-25 01:19] NicodemusU commented on #22
Wait, how do you download the video once it's converted to Async?
            byte[] bytes = await mp4Videos.GetBytesAsync();
doesn't work.

[2018-08-27 23:54] alexis35115 commented on #85
still a valid issue?

[2018-08-28 11:10] omansak opened #97 "HTTP ERROR 403 Forbidden"
it does not download a lot videos.
examples : https://www.youtube.com/watch?v=DcgPCU10Bek&list=RDNJkBtgxlzjQ

[2018-08-28 13:05] omansak commented on #97
New signature javascript

[code]

[2018-08-28 14:41] omansak commented on #97
#98

[2018-08-29 04:18] Gr3gorywolf commented on #97
@omansak it still not working actually even using your fix im pretty worry about :,(   @omansak pls help us

[2018-08-29 06:01] omansak commented on #97
@Gr3gorywolf can you send video that has error ?

[2018-08-29 06:11] Gr3gorywolf commented on #97
almost all encrypted videos have this error

[2018-08-29 06:12] Gr3gorywolf commented on #97
for example---->https://www.youtube.com/watch?v=zuQGx1H1Qh8

[2018-08-29 06:13] Gr3gorywolf commented on #97
can you please send a pre-compiled dll with this bug fixed pls

[2018-08-29 06:36] omansak commented on #97
#98 updated.

[2018-08-29 07:06] Gr3gorywolf commented on #97
👍

[2018-08-31 18:11] LordFancyEagle opened #99 "The authentication or decryption has failed."
try
            {
                string uri = "https://www.youtube.com/watch?v=vPto6XpRq-U";
                var youTube = YouTube.Default;
                var video = youTube.GetVideo(uri);

                string title = video.Title;
                string fileExtension = video.FileExtension;
                string fullName = video.FullName; // same thing as title + fileExtension

[2018-08-31 18:43] omansak commented on #99
Fixed #98

[2018-09-07 17:23] Gr3gorywolf opened #100 "Cant extract info about some videos"
the previous decript that was on #98 worked for several weeks and after that i guess that youtube change the decrypt algorithm here is a video that actually cant be decrypted https://www.youtube.com/watch?v=kjq5OjrzE-g

[2018-09-07 22:37] omansak commented on #100
@Gr3gorywolf please test new updates #98

[2018-09-07 22:55] lalernehl opened #102 "System.Exception: GetDecryptionFunction failed"
Executing this code on a thread (async task):

var youTube = VideoLibrary.YouTube.Default;
var videoMetadata = await youTube.GetVideoAsync(video.Metadata.PlayUrl);
await File.WriteAllBytesAsync(Path.Combine(downloadPath, video.Filename), videoMetadata.GetBytes());

...will download a few videos and eventually hang. I haven't reproduced the issue on a debugging computer but it seems like the thread

[2018-09-08 00:44] ConfusedRunningGuy commented on #97
sorry for what is probably a silly question.  How do I implement the new javascript signature on compiled component?

[2018-09-08 08:37] omansak commented on #102
#98

[2018-09-08 10:44] ConfusedRunningGuy commented on #102
I'm still getting the same error System.Exception: GetDecryptionFunction failed

[2018-09-08 10:53] omansak commented on #102
#103 test and feedback.

[2018-09-08 13:21] SoftwareMagicIT commented on #102
I tested: system collection generic key not found exception in query.cs issue

[2018-09-08 14:08] omansak commented on #102
@fabcal24 i dont see any problem

[2018-09-08 15:54] ConfusedRunningGuy commented on #102
Oh man @omansak you are brilliant.  It worked.  I don't know how you did it.  But you did it.  Thank you so much.

[2018-09-08 16:48] omansak commented on #102
@ConfusedRunningGuy #103 is updated service and my service is not reliable pls use your own service

[2018-09-09 01:53] karamba121 commented on #102
@omansak I tested but I'm still getting the same error System.Exception: GetDecryptionFunction failed at youtube url https://youtu.be/aw52gv2OEV8

[2018-09-09 21:31] hig-dev commented on #102
My fork is working: https://github.com/hig-dev/libvideo
NuGet: https://www.nuget.org/packages/VideoLibraryHIG/

[2018-09-09 23:08] Daniel-Majunke commented on #102
I Love You, is work !!

[2018-09-10 04:42] omansak commented on #102
@hig-dev please read licence

[2018-09-10 05:10] karamba121 commented on #102
@hig-dev you are awsome! Thanks bro.

[2018-09-10 08:25] yoirgl opened #104 "Invalid certificate received from server"
I get this error when trying to download video of url :
http://www.youtube.com/watch?v=7oWARwY_voA

Mono.Security.Protocol.Tls.RecordProtocol.EndReceiveRecord (System.IAsyncResult asyncResult) (at <59f5789d548a4d9d86fbc012db4951c0>:0)
Mono.Security.Protocol.Tls.SslClientStream.SafeEndReceiveRecord (System.IAsyncResult ar, System.Boolean ignoreEmpty) (at <59f5789d548a4d9d86fbc012db4951c0>:0)
Mono.S

[2018-09-10 09:00] omansak commented on #104
I testend and i have no any problem with my fork.
https://github.com/omansak/libvideo

can you give more specific codes ?

[2018-09-10 09:57] yoirgl commented on #104
Hello. I tried with your build and got the same result. I'm using Unity with .NET 4.*
I changed for this test and used the C# files instead of a DLL to hopefully get more meaningful results but this is all I got :

`System.Net.Http.HttpRequestException: An error occurred while sending the request ---> System.Net.WebException: Error: TrustFailure (The authentication or decryption has failed.) --->

[2018-09-11 06:11] omansak commented on #104
Have UnityEngine HttpClient ? Remove Dynamic Regex Service https://github.com/omansak/libvideo/blob/a96942fd4a85e6f3038fb39e7546f83224ceee7b/src/libvideo/YouTubeVideo.cs#L17

[2018-09-11 14:23] tomasweigenast opened #105 "FileNotFoundException at startup"
When I want to use the library I get this error:
System.IO.FileNotFoundException: 'No se puede cargar el archivo o ensamblado 'System.Runtime, Version=4.1.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' ni una de sus dependencias. El sistema no puede encontrar el archivo especificado.' but it is very strange, because the exception is thrown when I click my own Download button, and I am sure

[2018-09-17 03:59] akcorp2003 commented on #102
@hig-dev For these videos:
https://www.youtube.com/watch?v=SdHQkkRc-hc.
https://www.youtube.com/watch?v=LNArCBr6rrs

Occasionally, in debug mode they sometimes work, sometimes hang. However, when I run a release build on my custom app, it always hangs. I have created a new app just to see if it's a config issue but no luck.

I'm on VS 2015 if that makes a difference.

[2018-09-19 16:47] sepp89117 opened #106 "Get Duration, Video-Image and Playlist"
Hello,

i use this lib and love it! Ich wrote a Program on vb an have added the following to get Duration of the video:
[code]

This for Image:
[code]

And this for Playlist:
[code]

Is it possible to add this to the lib? I cant because im only hobby programmer.
I hope it's okay to bring this suggestion here.
Oh, and sorry for bad english...

King regards
sepp

[2018-09-19 23:11] #105 closed, assigned to nobody

[2018-09-21 13:03] hig-dev commented on #102
@akcorp2003 On what platform do you have the problem? I tested the videos on my UWP App and it did work flawlessly.

[2018-09-22 06:01] akcorp2003 commented on #102
@hig-dev I am targeting .NET 4.6.1 for a WPF application.

[2018-09-24 14:50] megy2012 opened #107 "Additional information: GetDecryptionFunction failed"
Codes:

        If FolderBrowserDialog1.ShowDialog = DialogResult.OK Then

            Dim video = YouTube.Default.GetVideo(TextBox1.Text)
            MessageBox.Show(video.IsEncrypted.ToString)
            File.WriteAllBytes(FolderBrowserDialog1.SelectedPath + "\" + video.FullName, video.GetBytes())

        End If

I  am using 1.4.0 version of libvideo and I found out that when "video.IsEncrypte

[2018-09-24 17:50] omansak commented on #107
Please use https://github.com/omansak/libvideo

[2018-09-24 19:20] megy2012 commented on #107
I tried install it more times but it writes that.
![aaa](https://user-images.githubusercontent.com/43544216/45973527-08eca800-c03f-11e8-92ea-50112b3bbb62.png)

...and i was using that (https://www.nuget.org/packages/VideoLibrary) but 1.4.0, bucause newer versions show that error.

[2018-09-24 21:44] omansak opened #108 "720p new videos no longer has no sound"
Video format is 36 has no sound 720p

[2018-09-24 21:45] omansak commented on #108
@hig-dev do you know any solution on UWP?

[2018-09-26 06:45] noorphish commented on #79
Please check this Sub:

Private Sub YouTubeVideoDownload(ByVal strLink As String)
        Dim intBytes As Integer
        Dim stream As Stream
        Dim byteBuffer(1024 * 1024) As Byte
        Dim video As VideoLibrary.YouTubeVideo = VideoLibrary.YouTube.Default.GetVideo(strLink)
        Using sw As New FileStream("D:\" & video.FullName, FileMode.Create, FileAccess.Write, FileShare.None)

[2018-09-26 22:39] nickbrick commented on #47
Thanks for this code. Correction for future readers, it should be ```args.StreamPosition * 100 / streamLength;```

[2018-09-27 16:21] #97 closed, assigned to nobody

[2018-09-28 17:14] MusMuss1 opened #109 "Video download doesn't work for every Video (v.2.0.1)"
Hey, idk if this problem is already known, but video download like this (https://www.youtube.com/watch?v=5-xhpcgBMe4&start_radio=1&list=RDMM5-xhpcgBMe4)
doesn't work at the moment.
encryption link calls "Access denied"

Thank You :)

[2018-09-28 17:52] Maik8 opened #110 "GetVideo is not working."
I just try to download a video like this:

`YouTube youtube = YouTube.Default;
var vid = youtube.GetVideo(tbLink.Text);`

This gives me the following Error:

System.Net.Http.HttpRequestException: Der Antwortstatuscode gibt keinen Erfolg an: 403 (Forbidden).
   bei System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   bei System.Runtime.CompilerServices.TaskAwaiter.HandleNonS

[2018-09-28 19:58] omansak commented on #110
use https://github.com/omansak/libvideo

[2018-10-01 10:19] muwal-jitender commented on #75
Hi @i3arnon ,

I was facing an issue **GetDecryptionFunction failed** and for that I followed the link https://github.com/i3arnon/libvideo/pull/103 and it has fixed my issue. I updated to VideoLibrary  **versiom 2.0.1** and didn't get that error again.
But after that I have started getting the exception "Response status code does not indicate success: 403 (Forbidden) "
When I came here and found t

[2018-10-01 12:37] jayotirana commented on #75
Hi @muwal-jitender
version: 2.0.1 (1.3.6-beta will also not work)
For the exception that you are getting i.e, Response status code does not indicate success: 403 (Forbidden)
The reason behind this may be the "You don't have the authorization to view this page.".

Thanks

[2018-10-04 22:13] Maik8 commented on #110
Thanks for the answer but it is still not working, this time it crashes with ths error message:
GER: `Ein Ausnahmefehler des Typs "System.AggregateException" ist in mscorlib.dll aufgetreten.`
ENG: `An exeption of type "System.AggregateException" occupied in mscorlib.dll.`

Hope that helps, maybe you know what's wrong / what i do wrong.
Thanks in advance!

[2018-10-06 07:25] jayotirana opened #111 "GetBytes() method not working for downloading the video"
Hi @i3arnon
I tried to download the video using libvideo latest version i. e 2.0.1 and also tried other older versions, but it's not working and I am getting the error:

System.Exception: GetDecryptionFunction failed
Response status code does not indicate success: 403 (Forbidden).

I am able to get the video details like duration, Name etc, but not the bytes. I am using Visual Studio 2017.

[2018-10-08 07:05] haiduong87 commented on #110
Hello @omansak
I tried to install from nuget,  it  get 403 error
I tried downgrade to 2.0, it still didn't work.
Then I tried https://github.com/omansak/libvideo (downloaded and attached to my project), and it worked.
But both repos have the same nuget name. I can't understand...

[2018-10-08 13:55] omansak commented on #110
my fork is not install nuget. @haiduong87 remove orjinal package from nuget or try @hig-dev nuget package

[2018-10-09 22:00] ghost commented on #110
Don't work if video has signature.

[2018-10-13 15:57] i3arnon commented on #111
[Version 2.0.2](https://www.nuget.org/packages/VideoLibrary/2.0.2) that I recently published should fix it.
Please reopen with the video URL/ID if it doesn't.
Sorry for taking too long to get to it.

[2018-10-13 15:57] #111 closed, assigned to nobody

[2018-10-13 15:58] i3arnon commented on #110
[Version 2.0.2](https://www.nuget.org/packages/VideoLibrary/2.0.2) that I recently published should fix these issues.
Please open/reopen an issue with the video URL/ID if it doesn't.
Sorry for taking too long to get to it.

[2018-10-13 15:58] #110 closed, assigned to nobody

[2018-10-13 16:03] i3arnon commented on #109
[Version 2.0.2](https://www.nuget.org/packages/VideoLibrary/2.0.2) that I recently published should fix it.
Please reopen the issue if it doesn't.
Sorry for taking so long to get to it.

[2018-10-13 16:03] #109 closed, assigned to nobody

[2018-10-13 16:07] i3arnon commented on #108
@omansak Do you have an example of where that happens?

[2018-10-13 16:08] i3arnon commented on #107
[Version 2.0.2](https://www.nuget.org/packages/VideoLibrary/2.0.2) that I recently published should fix it.
Please reopen the issue if it doesn't.
Sorry for taking so long to get to it.

[2018-10-13 16:08] #107 closed, assigned to nobody

[2018-10-13 16:16] i3arnon commented on #75
@muwal-jitender
[Version 2.0.2](https://www.nuget.org/packages/VideoLibrary/2.0.2) that I recently published should fix it.

[2018-10-14 23:12] szblajos commented on #108
@i3arnon , @omansak is right. Looks like YouTube somehow replaced audio tracks for all 720p videos.
You can't download 720p vids with libvideo anymore. It gets only the 360p links to download instead.
Please, determine the AudioType with libvideo.compat library for 720p videos. They're all in the format: YoutubeExtractor.AudioType.Unknown
Here's a link for example: https://www.youtube.com/watch?v=

[2018-10-17 04:28] jayotirana commented on #111
Thanks for the update @i3arnon. I am testing with version 2.0.2, I will reopen if found any issue.

[2018-10-17 04:40] jayotirana commented on #111
Hello @i3arnon,
I am done with my testing and I am able to download the video from the youtube URL. It's successfully downloaded in the specified path.

Thanks again for resolving this issue.

[2018-10-17 17:53] MusMuss1 commented on #109
Hey, thank You very very much. It works again, but there is one little problem, the maximum Videoquality is 360p and audio only 96 kbit/s. Maybe you can tell why it is or fix it.

Thanks a lot :)

[2018-10-18 11:11] i3arnon commented on #108
@szblajos correct me if I'm wrong, but it's not that you can't download 720p videos at all, you just can't download 720p with sound (i.e. where `IsAdaptive == false`), right?

[2018-10-18 11:22] omansak commented on #108
@i3arnon @szblajos it's right

[2018-10-18 11:24] #69 closed, assigned to nobody

[2018-10-18 11:28] omansak commented on #106
@sepp89117
GetDuration - OK
Image - Some Videos has no Default.jpg
Playlist - Maybe You can use YouTube PlayList Api

[2018-10-18 11:45] i3arnon commented on #108
AFAICS there's not much to do about it.
Although this video (`8CdcCD5V-d8`) has unknown streams from a new video format: AV1 (#112), all 720p streams are "adaptive" and the video and audio are separate.

The only way to get a 720p with sound is to download the video and audio separately and merge them together.

[2018-10-18 12:01] i3arnon opened #112 "Support AV1 formats"
https://en.wikipedia.org/wiki/AV1

Container: MP4

Format Code | Resolution
------------ | -------------
399 | 1920x1080
398 | 1280x720
397 | 854x480
396 | 640x360
395 | 426x240
394 | 256x144

[2018-10-18 12:47] i3arnon commented on #109
@MusMuss1 see #108

[2018-10-18 13:12] omansak commented on #108
@i3arnon do you know any merge library ?

[2018-10-18 13:29] i3arnon commented on #108
@omansak ffmpeg

[2018-10-18 15:31] sepp89117 commented on #106
@omansak
GetDuration works fine, but slows down the loading of a playlist.

So far, I had no problems getting images. Can you give me an example? I would like to debug it in my code.

I want to avoid YouTube API. Loading playlists works well since I increased "i" to 7.

An additional suggestion I would still have. Is it possible to include in the lib a function that provides the link for the highe

[2018-10-19 17:01] #104 closed, assigned to nobody

[2018-10-19 17:01] #102 closed, assigned to nobody

[2018-10-19 17:01] #100 closed, assigned to nobody

[2018-10-19 17:01] #99 closed, assigned to nobody

[2018-10-19 17:03] #66 closed, assigned to nobody

[2018-11-07 04:38] mbparker opened #113 "GetEncryptionFunction Fails on some videos now"
I get a stack trace similar to this:

System.AggregateException: One or more errors occurred. ---> System.Exception: GetDecryptionFunction failed
   at VideoLibrary.YouTubeVideo.GetDecryptionFunction(String js)
   at VideoLibrary.YouTubeVideo.GetDecryptionFunctionLines(String js)
   at VideoLibrary.YouTubeVideo.DecryptSignature(String js, String signature)
   at VideoLibrary.YouTubeVideo.<DecryptA

[2018-11-07 13:44] adavid1 opened #114 "Issue getting bytes"
(I have the version 2.0.2)

var youtube = YouTube.Default;
var vid = youtube.GetVideo(link);
var video = vid.GetBytes();

The program is raising an error for the vid.GetBytes()
The error is :
System.Exception: 'GetDecryptionFunction failed'

[2018-11-07 14:43] AesirMacGregor commented on #114
I have the same problem. Noteable: 4days ago it worked.

[2018-11-07 16:26] omansak commented on #113
Update Regex Function in YouTubeVideo.Decrypt

\bc\s*&&\s*d\.set\([^,]+\s*,\s*\([^)]*\)\s*\(\s*([a-zA-Z0-9$]+)\(

Credit : https://github.com/Tyrrrz/YoutubeExplode/commit/27a4a421c14705fd98f59db71ec3cd379ab1e046

or

\((\w+)\(\([a-zA-Z0-9$]*,window.decodeURIComponent\)\(\w+\)\)\)

Credit : @omansak

or you can use my fork with dynamic regex service :
https://github.com/omansak/libvideo

[2018-11-07 16:26] omansak commented on #114
Update Regex Function in YouTubeVideo.Decrypt

\bc\s*&&\s*d\.set\([^,]+\s*,\s*\([^)]*\)\s*\(\s*([a-zA-Z0-9$]+)\(

Credit : https://github.com/Tyrrrz/YoutubeExplode/commit/27a4a421c14705fd98f59db71ec3cd379ab1e046

or

\((\w+)\(\([a-zA-Z0-9$]*,window.decodeURIComponent\)\(\w+\)\)\)

Credit : @omansak

or you can use my fork with dynamic regex service :
https://github.com/omansak/libvideo

[2018-11-07 16:57] mbparker commented on #113
@omansak Thank you.

Also need to update GetDecryptionFunction to return the first group value, but that regex did the trick.

GetDecryptionFunction...
return match.Groups[*1*].Value;

[2018-11-07 17:44] K0ST4S commented on #113
Nuget release please

[2018-11-08 01:59] hig-dev commented on #113
@CodeBlackSmith You can use the NuGet of my fork: https://www.nuget.org/packages/VideoLibraryHIG/
@mbparker You should not close the issue until it is fixed here.

[2018-11-08 03:03] mbparker commented on #113
Re-opening issue, since it is not fixed in this repo.

[2018-11-08 03:03] mbparker commented on #113
@hig-dev  Agreed.

[2018-11-13 19:15] candogusyilmaz commented on #114
I think there is still an issue with Regex Function. I used your fork but it didn't work either. Do you have any new solutions for this problem?

[2018-11-14 11:15] chukwu commented on #12
Is Vimeo supported now? Can't find it on the changelog

[2018-11-15 07:48] okutbay commented on #113
Cloned the source code and applied all fixes above, still having the exception. Did not get what is wrong :(

        public byte[] GetBytes() =>
            GetBytesAsync().GetAwaiter().GetResult();

System.Exception: 'GetDecryptionFunction failed'

System.Exception
  HResult=0x80131500
  Message=GetDecryptionFunction failed
  Source=libvideo
  StackTrace:
   at VideoLibrary.YouTubeVideo.GetDecry

[2018-11-15 08:47] omansak commented on #113
@okutbay you need change regex in Youtube.Decrypt.  https://github.com/i3arnon/libvideo/issues/113#issuecomment-436684603

[2018-11-15 08:48] omansak commented on #114
@candogusyilmaz sorun tam olarak nedir acaba ? Çünkü ben uzun süredir kullanıyorum bir hata yok.

[2018-11-15 08:51] okutbay commented on #113
Yep already did it.

[2018-11-15 08:56] omansak commented on #114
@candogusyilmaz and you need change regex group 1 from 3 https://github.com/i3arnon/libvideo/blob/53af4b2915349012573003576997022ebd374ceb/src/libvideo/YouTubeVideo.Decrypt.cs#L87

[2018-11-15 08:57] omansak commented on #113
@okutbay and you need change regex group 1 from 3 https://github.com/i3arnon/libvideo/blob/53af4b2915349012573003576997022ebd374ceb/src/libvideo/YouTubeVideo.Decrypt.cs#L87

[2018-11-15 09:01] okutbay commented on #113
Yes i did that too. I really did not get what is wrong. I decided to use nuget package of @hig-dev

[2018-11-15 16:37] candogusyilmaz commented on #114
@omansak Teşekkürler

[2018-11-18 10:05] manii-stack opened #115 "Get Direct Link from youtube"
Hi
I just need to get a direct download link(.mp4) from specific youtube URL.
Is it possible with this library?

[2018-11-18 10:13] i3arnon commented on #115
You can get a direct link to the video's stream. You can see one example [here](https://github.com/i3arnon/YouCast/blob/31c09b9b428711167472d546beb21091cf82d9cc/src/Service/YoutubeFeed.cs#L300)

[2018-11-19 11:20] #115 closed, assigned to nobody

[2018-11-19 11:23] i3arnon commented on #114
Should be fixed with [v2.0.3](https://www.nuget.org/packages/VideoLibrary/2.0.3)
Please reopen the issue if that's not the case.

[2018-11-19 11:23] #114 closed, assigned to nobody

[2018-11-19 11:23] i3arnon commented on #113
Should be fixed with [v2.0.3](https://www.nuget.org/packages/VideoLibrary/2.0.3)
Please reopen the issue if that's not the case.

[2018-11-19 11:23] #113 closed, assigned to nobody

[2018-11-25 11:53] iancona opened #116 "Video URL not correct in NET Core project"
I've used and keep using this library for my UWP project and tried also with xamarin and the given URL for watching a video from ID, is correct, and it works also on any browser.
I've tried to implement this library in a NET core with same code, the url given is incorrect and the response is 403 error forbidden.

[2018-11-25 16:52] i3arnon commented on #116
Can you give an example for a video that doesn't work for you in .NET Core but works elsewhere?

[2018-11-25 20:08] iancona commented on #116
Yes.
DM_h_rx6WtE
or
bo_efYhYU2A

[2018-11-30 01:47] Syth-1 opened #117 "can get mp4 video to work fine with vb.net... having trouble with getting audio/ converting to mp3,"
as said in the title i'm having trouble converting a video to .mp3 in visual basic .net, maybe its a lack of programming skills... but i've been at this for 4 hours and scavenged the internet left right and centre and still got nothing.

any help/ pointers will be appreciated.

[2018-12-17 19:55] PhyrexianHulk commented on #79
I'm getting the same exception using a github project that makes use of VideoLibrary v2.0.3.
Seems to only happen with specific urls:
failing url: https://www.youtube.com/watch?v=8kxzwHlm1gM

code i'm using:
https://github.com/maythamfahmi/YouTuber

running the : YouTuber.Console project

System.OutOfMemoryException
  HResult=0x8007000E
  Message=Exception of type 'System.OutOfMemoryException' was

[2019-01-18 08:02] bugman123 commented on #114
I installed VideoLibrary 2.0.3 yesterday and it worked great, but today I am also getting the "GetDecryptionFunction failed" exception when I call video.GetBytes().

[2019-01-18 17:43] Gr3gorywolf commented on #114
@bugman123 @omansak help us pls

[2019-01-18 21:50] omansak commented on #114
@Gr3gorywolf  new regex

`\bc\s*&&\s*d\.set\([^,]+\s*,[^(]*\(([a-zA-Z0-9$]+)\(`

[2019-01-18 22:43] omansak commented on #114
@Gr3gorywolf @bugman123

`c&&d.set(b,encodeURIComponent(fv(decodeURIComponent(c))));return d};`
we must find 'fv' with regex  `\bc\s*&&\s*d\.set\([^,]+\s*,[^(]*\(([a-zA-Z0-9$]+)\( `

You must replace this line https://github.com/i3arnon/libvideo/blob/586421e0f39367d79b437daa517d3c008f0d20eb/src/libvideo/YouTubeVideo.Decrypt.cs#L13 with code in below :

`private static readonly Regex DecryptionFunc

[2019-01-19 02:41] Gr3gorywolf commented on #114
@omansak thank u and actually i use ur fork due the dynamic regex service

[2019-01-19 11:15] omansak commented on #114
@Gr3gorywolf you can use own dropbox instead of my account

[2019-01-19 12:21] Gr3gorywolf commented on #114
@omansak dropbox didnt have request limits etc right?

[2019-01-19 14:23] LaSerDnc commented on #114
@i3arnon
Hi, I was wondering when this fix is pushed to a new release. I have the same issue and I use the 2.03 from NuGet. BTW thanks for the excellent tool!

[2019-01-19 18:33] patachi opened #119 "GetDecryptionFunction failed"
looks like the decryption regex need to be updated

[2019-01-19 19:18] Gr3gorywolf commented on #119
#114 omansak fixed this issue

[2019-01-19 20:40] ReMinoer commented on #119
Hi,

Actually it seems it's a new issue. I got the error on fork https://github.com/hig-dev/libvideo first. Then I checked with your original repo and got the same. It was working just fine on that fork yesterday.

My exception:
[code]

[2019-01-19 21:05] omansak commented on #119
@ReMinoer  https://github.com/i3arnon/libvideo/issues/114#issuecomment-455711935 or use #118

[2019-01-19 21:09] ReMinoer commented on #119
Sorry I didn't scroll. -_-"
Thank you for the fix. :)

[2019-01-28 17:06] andrey-infinity commented on #119
Can you please update the NuGet ?

[2019-01-28 19:55] sammeboy635 commented on #117
I use the CSCORE library by Florian R. to convert my mp4 to mp3 its extremely fast depending on download speed and speed of your computer but I get about 1 song per second downloaded and converted to mp3.
Here my methods I use. I use a threadpool so thats why its kinda weird hope it helps
private static bool DownloadYoutubeVideo(string Url)
        {
            string videoFullName = "foo";

[2019-02-08 05:26] this-is-r-gaurav commented on #119
Do You get the Patch For the Same? @patachi I tried @omansak Package but it's not available on nuget, can You have a look at this issue @i3arnon Please

[2019-02-08 07:46] Gr3gorywolf commented on #119
@this-is-r-gaurav hmm you must clone the omansak's libvideo repo and then compile it and add the dll to your proyect. Otherwise there's no way to use the omansak's version

[2019-02-08 07:50] omansak commented on #119
@SiTox @this-is-r-gaurav This project has licence so i dont upluoad tı Nuget. You can clone my form

[2019-02-08 08:03] this-is-r-gaurav commented on #119
@omansak Okay I was just new to dot net so trying to reduce the building the scratch code, But anyway i will try thank you

[2019-02-08 13:02] andrey-infinity commented on #119
Sorry, this is slightly confusing for me. Is there general agreement, which libvideo is the main/freshest and maintainable? and which one is actually published to Nuget ? And what is the reason for having multiple forks? sorry for stupid questions.

[2019-02-08 17:22] Gr3gorywolf commented on #119
@SiTox because the owner dont accept some   pending pull request i guess

[2019-02-08 17:26] ReMinoer commented on #119
If you want a Nuget, VideoLibraryHIG 1.5.3 ([hig-dev/libvideo](https://github.com/hig-dev/libvideo)) has the fix.

[2019-02-08 18:27] this-is-r-gaurav commented on #119
@ReMinoer This ain't working in my case i tried this. It was not able to detect the namespace VideoLibrary

[2019-02-08 19:59] this-is-r-gaurav commented on #119
@omansak hey I tried your dynamic url repo I am getting following error now .

Inner Exception 1:
ArgumentException: parsing "\bc\s*&&\s_d.set([^,]+\s_,\s*([^)]_)\s_(\s*([a-zA-Z0-9$]+)(" - Not enough )'s.

[2019-02-08 20:51] omansak commented on #119
@this-is-r-gaurav can you give more informations and urls ? are you sure use last version at my fork ?

[2019-02-10 07:56] this-is-r-gaurav commented on #119
Yes Master Branch, I just picker random video, But i switched to some other Package Now. Youtube Explode Thanks For the help.

[2019-02-12 10:21] CSchuster opened #120 "Proxy for downloading"
Hi,

i have the libvideo in an application which has the production server to run behind a proxy server.

How can i inject the proxy config into the libvideo?
(best from web.config, as i dont need this on dev/staging)

thank you
Christoph

[2019-02-17 02:17] warren30815 opened #121 "Running on Android device can't fetch uri"
Excuse me, I encounter a problem.
When I follow Readme to write these codes :
var youTube = YouTube.Default; // starting point for YouTube actions
var video = youTube.GetVideo(link); // gets a Video object with info about the video
Everything work well in Unity Editor, but when I connect my Android device. I can't fetch the uri as usual. It show error like
<img width="1192" alt="2019-02-17 10 12 5

[2019-04-07 17:21] Moooog opened #122 "can we save in 320kb?"
I dont want to save my audio in 123kb but I want to in 320kb how can i do this?

[2019-04-18 12:24] kevieman commented on #119
Hey there, I still have this issue. I have tried #114 and #118 but this doesnt help. It only applie swhen i try to run my UWP app on my laptop. On my desktop it works fine.

[2019-04-18 18:52] Gart79 commented on #111
Hi, I ran into the same issue with version 2.0.3. Some are working but e.g. video-id: Rbm6GXllBiw  not.
Thanks in advance!!

[2019-04-29 19:58] Alois-xx commented on #119
The Fork from hig-dev is working on April 2019 compared to the base version. Good work by bringing also code from YoutubeExploder which is much cleaner onboard.

[2019-06-05 09:53] KibbeWater opened #123 "Exception thrown: 'System.Exception' in mscorlib.dll"
When i try to save to a file for some videos, ill give you the urls below.
Heres the code that fails
`Console.WriteLine("[Play] Initializing download");
                        IAudioChannel channel;
                        channel = (Context.User as IGuildUser)?.VoiceChannel;
                        if (channel == null) { await Context.Channel.SendMessageAsync("You must be in a voice channel!");

[2019-06-07 15:54] SergeyDCT opened #124 "GetUri Exception"
var video = cli.GetVideo(query);
                    string uri = video.GetUri();

                    try
                    {
                        var uris = DownloadUrlResolver
                            .GetDownloadUrls(query)
                            .Select(v => v.DownloadUrl);

                        Console.WriteLine($"Link #{i + 1}");
                        foreach (var v in uri

[2019-06-09 21:59] Gr3gorywolf commented on #124
@omansak what is the new decrypt regex??

[2019-06-10 21:00] omansak commented on #124
@Gr3gorywolf It is not decrypt issue. Randomly Youtube generate different signature . I working on it

[2019-06-11 00:15] omansak commented on #124
@Gr3gorywolf  @SergeyDCT  test my last commit #125 (https://github.com/omansak/libvideo)

[2019-06-11 12:25] SergeyDCT commented on #124
thank you!

[2019-06-12 08:26] SergeyDCT commented on #124
var video = cli.GetVideo("https://www.youtube.com/watch?v=4OH3JZyLVJE");
string uri = video.GetUri();
this.mediaElement.Source = new Uri(uri);
I get an error while playing this uri. MediaElement Failed with Exception ErrorMessage = "MF_MEDIA_ENGINE_ERR_DECODE : HRESULT - 0xC00D4A3E"

[2019-06-13 18:44] EvdAnton opened #126 "Exception thrown: "System.Net.Http.HttpRequestException" in mscorlib.dll"

[2019-06-13 18:49] EvdAnton opened #127 "Exception thrown: "System.Net.Http.HttpRequestException" in mscorlib.dll or IndexOutOfRangeException"
using VideoLibrary;
...
try
{
   var youtube = YouTube.Default;
   var video = youtube.GetVideo(VideoURL);
   File.WriteAllBytes(artistSongNames, video.GetBytes());  <--- throw Exception
..

A few days ago, the code worked fine, about 2 days ago, he started throwing an error

[2019-06-13 18:50] #126 closed, assigned to nobody

[2019-06-17 08:39] manii-stack opened #128 "proxy for downloading"
How can I use proxy for downloading before this line
`    var video = youTube.GetVideo(link); // gets a Video object with info about the video`

[2019-06-18 19:40] wesbyte opened #129 "Some videos work on localhost but not on server!"
Hello, I have some videos that play well on localhost but don't work on the server, ex; https://youtu.be/Nnqk-yGzYYg
https://youtu.be/4uE-tqe0xsQ
Please advise.

[2019-06-20 00:35] wesbyte commented on #129
@i3arnon any ideas?

[2019-06-21 15:41] omansak commented on #124
@SergeyDCT it's decrypt issue.

New Regez : `\bc\s*&&\s*a\.set\([^,]+,\s*(?:encodeURIComponent\s*\()?\s*([\w$]+)\(`

[2019-06-21 15:48] omansak commented on #124
@SergeyDCT test my last commit #125 (https://github.com/omansak/libvideo)

[2019-06-27 07:35] ColorTwist opened #130 "Start stream from a specific position of the video url"
Hello,

I have a question, after getting the video URL of YouTube, would it be possible to force it to start from a specific position of the video, like 30 seconds from start.
I know I can 'Seek' after starting to play the video and skip to 30 seconds, but it has bandwidth and performance price.

[2019-07-01 06:20] antfusa opened #131 "Still Getting System.Exception: Get DecryptionFunction failed"
Video Library Version: 2.0.3 (11/17/2018) pulled via NugetPackage Manager
Example URL: https://www.youtube.com/watch?v=fSOBj2DTuV8

The following Error is thrown: (Oddly enough this happens to some videos, but not all)

System.Exception: GetDecryptionFunction failed
   at VideoLibrary.YouTubeVideo.GetDecryptionFunction(String js)
   at VideoLibrary.YouTubeVideo.GetDecryptionFunctionLines(String js

[2019-07-02 09:13] omansak commented on #131
@antfusa test my last commit #125 (https://github.com/omansak/libvideo)

[2019-07-10 15:41] SergeyDCT commented on #124
thank you

[2019-07-23 20:31] #130 closed, assigned to nobody

[2019-07-23 21:43] ColorTwist opened #132 "GetAllVideosAsync vs GetVideosAsync"
Hello Friends,
I want to make sure i understand the difference.

GetAllVideosAsync gets all the video formats available for a video, while
GetVideosAsync get's the standard 320p?

Is there any performance difference?
I am looking for the fastest way to fetch youtube URL of the 320p video.

[2019-08-15 10:19] yoirgl commented on #131
Hey there. I tried your commit and while the decryption works i get a 403 forbidden on video.GetBytes()
Any idea ?

[2019-08-15 10:58] yoirgl opened #133 "(403) Frobidden is back. on GetBytes()"
everything is on the title : getting 403 forbidden on all videos.
example : http://www.youtube.com/watch?v=tAGnKpE4NCI

[2019-08-15 19:36] ColorTwist commented on #133
same error for all videos.
Youtube changed something- again.

[2019-08-16 00:45] omansak commented on #133
Trymy last commit (https://github.com/omansak/libvideo)

[2019-08-16 06:34] ColorTwist commented on #133
Seems to be fine now.
Thanks!

[2019-08-16 17:51] yoirgl commented on #133
good work !

[2019-08-21 19:52] lnickdnguyen commented on #131
How do I pull in your new commit? Is it updated in the nuget v2.0.3 package? Still getting the "GetDecryptionFunction Failed" exception. @omansak

[2019-08-22 06:52] omansak commented on #131
@lnickdnguyen download and build https://github.com/omansak/libvideo

[2019-08-22 15:58] PhilBu96 opened #134 "Only download video for merging with audio"
Hello guys,
the problem is that all the videos I tested it with can only be downloaded in the resolution that the non-adaptive video has without problems. Example at `ID=07d2dXHYb94` . There it is only the 720p video. For all others my program hangs up without throwing an exception. My idea now would be to ONLY download the video for all non 720p versions and merge it with the audio of the 720p ve

[2019-08-23 15:43] PhilBu96 commented on #108
@i3arnon I don't really know how to download ONLY the video... When I try to download for example an adaptive video, when I start the download, nothing happens and my program freezes...

[2019-08-25 20:31] ReazerDev commented on #133
Hi, I can't compile libvideo. I get
- Field "YouTubeVideo.DFunctionRegex" is never assigned to, and will always have its default value null (File YouTubeVideo.Decrypt.cs, Line 14)
- The name "DFunctionRegex_Dynamic" does not exist in the current context. (File YouTubeVideo.cs Line 24 and 26)
I'm not good with Regex and therefore can't fix it myself ^^

[2019-08-26 07:16] omansak commented on #133
ok i fixed, try again

[2019-08-26 14:48] PhilBu96 commented on #134
There are wonders... Now it works. But the downloads without sound take a little bit longer to download.

[2019-08-26 14:48] #134 closed, assigned to nobody

[2019-08-27 20:07] ReazerDev commented on #133
It works. Thanks!

[2019-09-10 14:26] on5ight opened #135 "libvideo.compat issue (VideoDownloader is not defined)"
Hey, I would define it myself if I had the source for the YoutubeExtractor compat library, but I can't seem to find it anywhere.

But yeah, I'm getting this issue;
`error BC30002: Type 'VideoDownloader' is not defined`
Which is from this line:
[code]

As stated above, I'd fix it myself if I had the library source. But it looks like the definition is missing from the namespace "YoutubeExtractor".

[2019-09-11 18:35] ColorTwist opened #136 "Seems like another Youtube change?"
Seems like no video will work, anyone else encountered this?

[2019-09-11 22:10] Syth-1 commented on #136
Same issue for encrypted(??) videos,

'Could not find the entry function for signature deciphering'

[2019-09-13 16:29] mphacker opened #137 "Video with hyphen in video ID doesn't work"
If I try to pass in a URL that has a video ID which has a hyphen it throws an error:
 System.Collections.Generic.KeyNotFoundException: The given key was not present in the dictionary.
   at VideoLibrary.Helpers.Query.get_Item(String key)
   at VideoLibrary.YouTube.Unscramble(String queryString)
   at System.Linq.Enumerable.WhereSelectArrayIterator`2.MoveNext()
   at VideoLibrary.YouTube.<ParseVide

[2019-09-23 06:29] #123 closed, assigned to nobody

[2019-10-07 15:11] kotharijk commented on #102
I am using following nuget package https://www.nuget.org/packages/VideoLibraryHIG/. I am getting error. Any help will be highly appreciated.

"System.Exception
  HResult=0x80131500
  Message=Could not find the entry function for signature deciphering.
  Source=libvideo
  StackTrace:
   at VideoLibrary.YouTubeVideo.DecryptedSignature(String signature, String js)
   at VideoLibrary.YouTubeVideo.<Dec

[2019-10-18 14:44] TheUnstoppable opened #138 "Nearly all of the videos are failing"
As seen on the title, most of the videos are failing to decipher. Is there a change in YouTube or am I doing something wrong? There are some working videos too. Like "https://www.youtube.com/watch?v=0Yy9YzdmTJA" does not work, while "https://www.youtube.com/watch?v=D6qCo5LA0wU" work.

[2019-10-18 17:24] kkfrosty opened #139 "GetEncryptionFunction Failed version 2.03"
`
           var source = filePath;
            var youtube = YouTube.Default;
            var vid = youtube.GetVideo(youTubeUrl);

            File.WriteAllBytes(source + vid.FullName, vid.GetBytes()); < -- Fails here

            var inputFile = new MediaFile { Filename = source + vid.FullName };
            var outputFile = new MediaFile { Filename = $"{mp3Name}.mp3" };

            using (var

[2019-10-20 00:45] Gr3gorywolf commented on #139
@omansak  do u know the new decrypt regex??

[2019-10-20 16:20] omansak commented on #139
My fork has no issue.

[2019-10-21 15:46] Headhuntez commented on #139
how to set your fork? I installed the package with gunet. as I understand it is the original. and how to replace it with your fork, please help, I'm a complete beginner.

(I got the same error)

[2019-10-21 18:22] TheUnstoppable commented on #139
YouTube probably changed their encrpytion system, or something related to it. Because most of the newest musics, or contents fails. (Issue #138 )

[2019-10-21 20:38] kkfrosty commented on #139
There is an issue, I use HD Video Converter Factory and it works with the same links.

[2019-10-22 10:07] Headhuntez opened #140 "Is it possible to download the maximum resolution? 1080? 4k?"
Is it possible to download videos in maximum resolution using your code? If so, tell me in detail how? I need to download a clip in 1080, but all files are saved only in 360.😢

[2019-10-24 09:37] omansak commented on #140
Use my fork (https://github.com/omansak/libvideo)

and you can download 1080p videos without sounds

[2019-10-24 09:38] omansak commented on #138
Use my stable fork https://github.com/omansak/libvideo

[2019-10-24 09:39] omansak commented on #136
Use my fork https://github.com/omansak/libvideo

[2019-10-25 10:40] Headhuntez commented on #140
used
i cant. end file 360. i use:
`
var youTube = YouTube.Default;
var video = youTube.GetVideo(link);
File.WriteAllBytes(@"D:\" + $"{i} {video.Title} ({video.Resolution}).{video.Format}", await video.GetBytesAsync());`

[2019-11-16 15:20] fortunecafe5 commented on #114
Where can i find the .cs files i have downloaded this with Nuget-Manager? How can i edit this? :-(

[2019-12-03 13:56] d-maxime opened #141 "unknown audio format"
System.NotImplementedException HResult=0x80004001
  Messaggio=Audio format Opus is unrecognized! Please file an issue at libvideo on GitHub.
  Origine=libvideo.compat
  Analisi dello stack:
   in YoutubeExtractor.VideoInfo.get_AudioExtension()

[2019-12-15 18:10] omansak commented on #139
@Gr3gorywolf i pushed update at my fork maybe can you test ?

[2019-12-15 22:32] Gr3gorywolf commented on #139
@omansak what u changed un the last commit?

[2019-12-16 08:44] omansak commented on #139
Some videos has problem such as
Normal : Alr26K0F4EQ
Encrypted : ADxntEqPysA

[2019-12-19 19:03] SimonAkers opened #142 "KeyNotFoundException thrown upon using youTube.GetVideo() on certain videos"
Using the given example code for how to download a video, a System.Collections.Generic.KeyNotFoundException is raised when youTube.GetVideo() is called for certain videos.

Example video that causes exception: https://youtu.be/cS_GCDAEdfI

[2019-12-21 11:37] Kulu-M commented on #139
@omansak What is the best way to run your fork? I guess it is not on Nuget?

[2019-12-21 13:46] RudiHansen opened #143 "The given key was not present in the dictionary (youTube.GetVideo)"
Some videos fails with this error, when i use youTube.GetVideo this link will give me that error
 "https://www.youtube.com/watch?v=ADiio8fmOI0".

System.Collections.Generic.KeyNotFoundException
  HResult=0x80131577
  Message=The given key was not present in the dictionary.

[2019-12-21 17:20] #124 closed, assigned to nobody

[2019-12-21 17:31] omansak commented on #143
Fixed. Update 3.0.0

[2019-12-21 17:31] #143 closed, assigned to nobody

[2019-12-21 17:31] omansak commented on #142
Fixed. Update 3.0.0

[2019-12-21 17:31] #142 closed, assigned to nobody

[2019-12-21 17:32] omansak commented on #140
Fixed. Update 3.0.0

[2019-12-21 17:32] #140 closed, assigned to nobody

[2019-12-21 17:32] omansak commented on #139
Fixed. Update 3.0.0

[2019-12-21 17:32] #139 closed, assigned to nobody

[2019-12-21 17:32] omansak commented on #137
Fixed. Update 3.0.0

[2019-12-21 17:32] #137 closed, assigned to nobody

[2019-12-21 17:32] omansak commented on #138
Fixed. Update 3.0.0

[2019-12-21 17:32] #138 closed, assigned to nobody

[2019-12-21 17:33] omansak commented on #133
Fixed. Update 3.0.0

[2019-12-21 17:33] #133 closed, assigned to nobody

[2019-12-21 17:33] omansak commented on #136
Fixed. Update 3.0.0

[2019-12-21 17:33] #136 closed, assigned to nobody

[2019-12-21 17:34] omansak commented on #131
Fixed. Update 3.0.0

[2019-12-21 17:34] #131 closed, assigned to nobody

[2019-12-21 17:34] #129 closed, assigned to nobody

[2019-12-21 17:34] #122 closed, assigned to nobody

[2019-12-21 17:35] #65 closed, assigned to nobody

[2019-12-21 17:35] omansak commented on #67
Fixed. Update 3.0.0

[2019-12-21 17:35] #67 closed, assigned to nobody

[2019-12-21 17:35] omansak commented on #64
Fixed. Update 3.0.0

[2019-12-21 17:35] #64 closed, assigned to nobody

[2019-12-21 17:35] omansak commented on #62
Fixed. Update 3.0.0

[2019-12-21 17:35] #62 closed, assigned to nobody

[2019-12-21 17:35] omansak commented on #108
Fixed. Update 3.0.0

[2019-12-21 17:35] #108 closed, assigned to nobody

[2019-12-21 17:36] omansak commented on #60
Fixed. Update 3.0.0

[2019-12-21 17:36] #60 closed, assigned to nobody

[2019-12-21 17:36] omansak commented on #55
Fixed. Update 3.0.0

[2019-12-21 17:36] #55 closed, assigned to nobody

[2019-12-21 17:36] omansak commented on #58
Fixed. Update 3.0.0

[2019-12-21 17:36] #58 closed, assigned to nobody

[2019-12-21 17:36] #54 closed, assigned to nobody

[2019-12-21 17:36] #47 closed, assigned to nobody

[2019-12-21 17:36] #45 closed, assigned to nobody

[2019-12-21 17:36] #43 closed, assigned to nobody

[2019-12-21 17:37] omansak commented on #48
Fixed. Update 3.0.0

[2019-12-21 17:37] #48 closed, assigned to nobody

[2019-12-21 17:37] #41 closed, assigned to nobody

[2019-12-21 17:37] #42 closed, assigned to nobody

[2019-12-21 17:37] #33 closed, assigned to nobody

[2019-12-21 17:37] #70 closed, assigned to nobody

[2019-12-21 17:37] #49 closed, assigned to nobody

[2019-12-21 17:38] #32 closed, assigned to nobody

[2019-12-21 17:38] #135 closed, assigned to nobody

[2019-12-21 17:38] omansak commented on #27
Fixed. Update 3.0.0

[2019-12-21 17:38] #27 closed, assigned to nobody

[2019-12-21 17:38] #17 closed, assigned to nobody

[2019-12-21 17:38] #20 closed, assigned to nobody

[2019-12-21 17:38] #26 closed, assigned to nobody

[2019-12-21 17:38] #29 closed, assigned to nobody

[2019-12-21 17:38] #37 closed, assigned to nobody

[2019-12-21 17:38] #72 closed, assigned to nobody

[2019-12-21 17:38] #73 closed, assigned to nobody

[2019-12-21 17:38] #78 closed, assigned to nobody

[2019-12-21 17:38] #79 closed, assigned to nobody

[2019-12-21 17:38] #85 closed, assigned to nobody

[2019-12-21 17:38] #88 closed, assigned to nobody

[2019-12-21 17:38] #91 closed, assigned to nobody

[2019-12-21 17:38] #95 closed, assigned to nobody

[2019-12-21 17:38] #96 closed, assigned to nobody

[2019-12-21 17:38] #106 closed, assigned to nobody

[2019-12-21 17:38] #112 closed, assigned to nobody

[2019-12-21 17:38] #116 closed, assigned to nobody

[2019-12-21 17:38] #117 closed, assigned to nobody

[2019-12-21 17:38] #119 closed, assigned to nobody

[2019-12-21 17:38] #120 closed, assigned to nobody

[2019-12-21 17:38] #121 closed, assigned to nobody

[2019-12-21 17:38] #127 closed, assigned to nobody

[2019-12-21 17:38] #128 closed, assigned to nobody

[2019-12-21 17:38] #132 closed, assigned to nobody

[2019-12-21 17:38] #141 closed, assigned to nobody

[2019-12-21 17:39] #6 closed, assigned to nobody

[2019-12-21 17:39] #12 closed, assigned to nobody

[2019-12-21 18:36] RudiHansen commented on #143
Nice thanks, when will 3.0.0 be available on Nuget?

[2019-12-21 19:53] omansak commented on #143
@RudiHansen yes i uploaded right now. Can you try and feedback me ?

[2019-12-21 20:03] fartwhif commented on #95
lol

[2019-12-21 20:32] RudiHansen commented on #143
I updated my code and it is working now, so all seems good.
Thanks again.

[2019-12-23 08:27] omansak opened #144 "Test version 3.0.0"
I updated new version 3.0.0 on Nuget and Github . Can anyone test it ?

[2019-12-23 08:28] ColorTwist commented on #144
hi,
is it the same version you updated a few days ago in another branch of yours?

[2019-12-23 09:16] omansak commented on #144
@ColorTwist yes , just need more test different users

[2019-12-23 09:21] ColorTwist commented on #144
For now, it seems to work well. I'll test more and update if I see any issues.
hopefully, more will assist here to test it out, after all, this library is working because of your updates.

[2019-12-23 16:26] szblajos commented on #144
Tested! Works well! Good job, thanks @omansak !
Do you have any suggestion, how to download adaptive 720p videos with sound? They're still have no sound for me in 3.0.0

[2019-12-23 19:27] omansak commented on #144
@szblajos just some videos downloads adaptive 720p , youtube no longer let it

[2019-12-23 19:42] szblajos commented on #144
It's okay @omansak . I imagined that you fixed it somehow in #108 , because you closed the issue with the following text: "Fixed. Update 3.0.0"
No problem. Thanks for the NuGet package anyway!

[2019-12-28 02:05] dinhhoi1102 commented on #144
Thanks very much @omansak !, Can we decided video quality  360 or 720 ?

[2019-12-28 12:49] omansak commented on #144
@dinhhoi1102

Sample ;
[code]

[2020-01-01 16:41] iamchandreshk commented on #20
Wht this is closed without reslving?

[2020-01-07 10:00] Manurocker95 opened #145 "KEY WAS NOT PRESENT IN THE DICTIONARY"
When using it, I am getting this error:

System.Collections.Generic.KeyNotFoundException: The given key was not present in the dictionary.
  at VideoLibrary.Helpers.Query.get_Item (System.String key) [0x00035] in <15bdfe5d09c844a5b7928533a93fabb5>:0
  at VideoLibrary.YouTube.Unscramble (System.String queryString) [0x00019] in <15bdfe5d09c844a5b7928533a93fabb5>:0
  at (wrapper delegate-invoke) Syst

[2020-01-08 09:15] omansak commented on #145
This video seems normally. Are you sure using +3.0.0 version ?

[2020-01-10 18:01] schneidermanuel opened #146 "Get Only Sound from a Video"
I am Creating an Youtube to MP3 Downloader for Android in Xamarin / C#. I am using the VideoLibrary to download the Video.

So this works, I can download the Video as a mp3 file, but it also Downloads the Video. When I then Click on the .mp3 file, but it also downloads the Video. The Problem at this is, that I cant add this to a playlist, since its a Video in mp3 format, not a sound.

SO: Can I ge

[2020-01-10 20:44] omansak commented on #146
using (var cli = Client.For(YouTube.Default))
            {
                string url = "YOUTUBE_URL";
                var videoInfos = await cli.GetAllVideosAsync(url);
                //var possibleBitrates = videoInfos.Where(i => i.AdaptiveKind == AdaptiveKind.Audio).Select(i => i.AudioBitrate);
                //var possibleResolutions = videoInfos.Where(i => i.AdaptiveKind == AdaptiveKind.Vi

[2020-01-11 08:38] schneidermanuel commented on #146
Thanks for this, now if I click on the File, the Pop-Up player shows up and starts playing, as I wished. But Still, Music players Like "Samsung Music", VLC or "Windows groove Music" do NOT recognize this generated file. Is there anything I am doing wrong?

[2020-01-11 22:57] Rintsi92 commented on #146
You need convert file using FFMPEG, etc.. Try my new tool it's easy to look what YouTube video link contains. i think, it's can help you with your project.
https://github.com/Rintsi92/YouTubeUrlAnalyzer

if you change the file extension without converting the file, it will look like an mp3 file but not.
some music players know how to interpret a file better than others, and can play an MP3 file ev

[2020-01-12 13:34] omansak commented on #146
@BrainyXS You need convert MP3 from AAC or try download other formats

[2020-01-12 13:34] #146 closed, assigned to omansak

[2020-01-12 13:34] #144 closed, assigned to omansak

[2020-01-14 03:10] pauelm opened #147 "Resolution is low and appears to be read-only"
No matter if I use my test solution or the "Valks" sample, the video is downloaded successfully, but is of poor quality.

In the "YouTube : Video" class, there is a "Resolution" field, but it is read-only.  If this is only for retrieval methods, then where / how can you specify higher resolution version for YT video search?

Also, are there non-YT specific video download methods in the libraries s

[2020-01-15 09:41] omansak commented on #147
Now, we have to use `GetAllVideosAsync` cause of we reads all download links from Youtube html/js file

[2020-01-15 22:55] pauelm commented on #147
That is what I was suspecting, and if that is the case, how do you:

1. Iterate through the results of GetAllVideosAsync (?)
2. Determine from the result set which items are "low" quality and which ones are "high" quality. (?)

[2020-01-16 12:34] omansak commented on #147
You can iterate with `FormatCode` ' s
Example : 137 is 1080P (no audio) ,135 is 480P muxed or 140 is only audio.

You can use that sample codes #146

[2020-01-22 19:24] #147 closed, assigned to omansak

[2020-01-28 17:23] terauinteractive opened #148 "How to get a list of available Resolution in a video?"
I need all available Resolution to be output to ComboBox

[2020-01-28 19:05] omansak commented on #148
[code]

You can iterate from `IEnurable<YoutubeVideo>` object

[2020-01-28 19:54] terauinteractive opened #149 "How to make progressbar in WinForms so that it moves during downloading?"
and how to make a ProgressBar in C# in WinForms so that it moves during loading?

[2020-01-29 08:26] #148 closed, assigned to omansak

[2020-01-29 08:28] omansak commented on #149
https://github.com/omansak/libvideo/blob/master/docs/README.md -> Sample Progress

[2020-01-29 08:28] #145 closed, assigned to omansak

[2020-02-18 21:37] Win8Error opened #150 "YouTube Error 429 appears after a while"
After a while the library crashes because YouTube only throws error 429 back.

Can I somehow work around this error?

[code]
<img width="694" alt="Screenshot1" src="https://user-images.githubusercontent.com/10245525/74780058-1db68500-529f-11ea-9e7c-566f3aef7d77.PNG">
<img width="690" alt="Screenshot2" src="https://user-images.githubusercontent.com/10245525/74780061-1f804880-529f-11ea-8581-daa8defa

[2020-02-26 10:07] wangjunjx8868 opened #151 "How to download 720p quality？"
How to download 720p quality？

[2020-02-28 08:19] omansak commented on #151
[code]

You should download video and audio separately then merge them.

[2020-02-28 08:21] #151 closed, assigned to omansak

[2020-02-28 08:21] #149 closed, assigned to omansak

[2020-02-28 08:22] omansak commented on #150
How did u use VideoLibrary ?

[2020-03-10 08:15] omansak commented on #131
@JesWhite Nuget or non-build version on github

[2020-03-10 23:01] ruhhh commented on #150
I used to have the same problem when I used youtube-dl for Python and now I get the same error using this Library. I think the problem is basically just that Youtube temporarily blocked your IP because you sent too many requests in a certain timeframe. However in some cases (like mine) it seems to be permanent. Sometimes these bans/blocks seem to be kind of random though.

Basically what happens i

[2020-03-20 19:57] henriquecpp opened #152 "Memory usage accumulation"
I have an application (desktop) that reproduces various sounds, but each time I execute the method below, the program accumulates space in memory. How can I solve this?

[code]

[2020-03-21 12:24] omansak commented on #152
[code]

[2020-03-23 21:08] AnesHamdani08 opened #153 "Question - Issue when trying to get Video URI on vb.net"
On Vb.net when i try to get the video URI i get an exception :

I used this video as testing and it was working great i just took a week off coding i had some exams and when i back i found this new issue :

Here is the error details :
`System.InvalidOperationException was unhandled
  HResult=-2146233079
  Message=An invalid request URI was provided. The request URI must either be an absolute URI o

[2020-03-23 21:33] #153 closed, assigned to omansak

[2020-03-23 21:42] AnesHamdani08 opened #154 "Higher Resolution videos have no sound (360p works just fine)"
Hi ,
When Using `Youtube.default.getallvideos` It returns video but only one or two that have sound (360p and sometimes 720p)
here is a photo to describe more :
This is a small app i made

Thank you!

[2020-03-28 13:14] omansak commented on #154
#108

[2020-03-28 13:14] #154 closed, assigned to omansak

[2020-04-09 14:54] vincetota opened #155 "Invalid request URI error"
Hi!
Thanks for your great library.
Today, it appears this error when I try to download a video:
"**_An invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set._**"
I did not change anything in the code.... I'm just using these simple lines:

[code]

I tried to use http instead of https, but same issue.

Please can you help me to fix?

Thanks a lo

[2020-04-09 17:21] JOBBIN9422 commented on #155
I have occasionally run into the same issue when downloading videos in my project. I can provide more info if necessary.

[2020-04-09 20:02] ReflexLevel0 commented on #155
Same thing is happening to me with function youtube.GetAllVideos(string link). For some videos it works and for some it doesn't when before it used to work for all videos.

[2020-04-09 20:48] JOBBIN9422 commented on #155
I can confirm the issue that @ReflexLevel0 is running into, it seems to be arbitrarily failing on certain videos.

[2020-04-09 20:51] JOBBIN9422 commented on #155
Posting a stack trace for reference:
`System.InvalidOperationException: An invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set.
   at System.Net.Http.HttpClient.PrepareRequestMessage(HttpRequestMessage request)
   at System.Net.Http.HttpClient.SendAsync(HttpRequestMessage request, HttpCompletionOption completionOption, CancellationToken cance

[2020-04-10 00:11] nlogozzo commented on #155
Can confirm. It's happening on most videos, even ones that have recently worked before

[2020-04-10 07:50] ghost commented on #155
Youtube is messing around thats why "VideoLibrary" is not working on all vides any more

[2020-04-10 11:13] omansak commented on #155
Can you guys try again ?

[2020-04-10 11:22] vincetota commented on #155
For this video https://www.youtube.com/watch?v=mlBIpwtNxxE still same error.
Do I need to update the package? Or continue to use version 3.0?
Thank you!

[2020-04-10 11:24] omansak commented on #155
@vincetota i pushed a little change to github .

[2020-04-10 11:29] vincetota commented on #155
OK! it seems to work very well!

[2020-04-10 11:30] wesbyte commented on #155
@omansak Could you please update the NuGet?

[2020-04-10 12:01] ghost commented on #155
It works thank you

[2020-04-10 12:13] omansak commented on #155
@wesbyte i updated on nuget.

[2020-04-10 12:13] #155 closed, assigned to omansak

[2020-04-10 12:27] wesbyte commented on #155
@omansak Works great! Many thanks.

[2020-04-10 13:54] nlogozzo commented on #155
All problems solved. Thanks!

[2020-04-23 19:38] TieHaxJan opened #156 "YouTube Playlists"
I wondered if you could add support for YouTube Playlists?

[2020-04-23 19:51] JOBBIN9422 commented on #156
I added the ability to download playlists by using the [YouTube Data API](https://developers.google.com/youtube/v3/code_samples/dotnet) to extract a list of URLs when given a playlist URL - here is a code sample.
[code]

[2020-04-23 20:07] TieHaxJan commented on #156
Thanks a lot :)

[2020-04-23 20:07] #156 closed, assigned to omansak, JOBBIN9422

[2020-04-24 21:10] omansak commented on #156
You can use or take a reference https://github.com/omansak/YoutubeSharpApi

[2020-04-25 04:41] MNutshell opened #157 "An invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set."
Just started getting this issue on some YT URLS - i noticed this was reported long ago.

I had been using this library for a while and just started getting the error above
URL tested: https://www.youtube.com/watch?v=02LSFTdC5UE

using 3.0.0

Thanks

[2020-04-25 13:22] omansak commented on #157
Please try again with 3.0.1

[2020-04-25 13:22] #157 closed, assigned to omansak

[2020-04-25 13:23] omansak commented on #155
#157

[2020-04-25 14:02] MNutshell commented on #157
I did do a pull - and build - and it is showing 3.0.0 -

but - wala - it does seem to be functioning now - sorry for the interruptino.

[2020-04-27 10:35] MarvinBitzer1408 opened #158 "VideoLibrary Xamarin Forms"
Hello I have a problem with downloading a video in XamarinForms with the nuget Video Library.
I want to download it but i dont know how i get my path in xamarinforms and in which way I connect the path with  File.writeAllBytes(path + video.FullName, video.GetBytes()). ??
or this way :  File.writeAllBytes(path +"/"+ video.FullName, video.GetBytes()). ??

Or can i download the video in my andorid Do

[2020-04-29 10:23] AnesHamdani08 opened #159 "Issue when trying to get URI"
Most of youtube videos return error
An Invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set
Why is that happening?
here is a video that return this error : https://www.youtube.com/watch?v=Axq1FHwFMrQ

[2020-04-29 13:53] dmanolac commented on #159
I also have this issue, with URL: https://youtu.be/wYeFAlVC8qU?list=RDwYeFAlVC8qU

[2020-04-29 15:56] JOBBIN9422 commented on #159
Out of curiosity, what version of the library are you guys running? A similar issue popped up in 3.0.0 and was fixed in 3.0.1.

[2020-04-30 09:20] dmanolac commented on #159
I had 3.0.0. The upgrade to 3.0.1 did the tricks. Thanks for pointing that out.

[2020-04-30 14:26] AnesHamdani08 commented on #159
Yep i was on 3.0.0

[2020-04-30 14:27] #159 closed, assigned to nobody

[2020-05-01 05:15] HFAsif opened #160 "deciper error"
cant decript signeture , help required

[2020-05-20 17:47] RewardK commented on #151
What vaiable "videos" is?

[2020-05-29 05:31] FutureDeve opened #161 "System.InvalidOperationException: 'Sequence contains no elements'"
Not working at the moment after the you supply a valid uri at this part " var video = youtube.GetVideo(uri);" you get the invalid exception.

Please help.

Thank you

[2020-05-29 21:06] bakyard commented on #161
Same here

[2020-05-29 22:23] vincetota commented on #161
Same issue for me...

[2020-05-30 10:38] omansak commented on #161
Fixed also updated Nuget Package

[2020-05-30 10:38] #161 closed, assigned to omansak

[2020-05-30 13:18] FutureDeve commented on #161
Cheers

[2020-05-31 07:50] WandresR opened #162 "Video quality"
Hello.
How can I download video in 480 and 1080 quality using libvideo ?
the code:
var video = YouTube.Default.GetAllVideos(textBox1.Text).First(v => v.Resolution == 480);  File.WriteAllBytes(@"D:\" + video.FullName, video.GetBytes());
 does not work.
I get 480 quality video but no sound.
1080 quality video cannot be downloaded.
I can download only 360 and 720.
Help required.

[2020-05-31 17:18] emanueltilly commented on #162
I am too having issues with getting higher than 360 quality. Following.

[2020-06-01 19:49] omansak commented on #160
fixed 3.0.2

[2020-06-01 19:49] #160 closed, assigned to nobody

[2020-06-03 10:51] SulfuricAcidH2SO4 commented on #162
Unfortunately the problem is from YouTube because it won't let you download anything with a resolution higher than 360p, you'll have to download audio and video separately then merge them together using FFMPEG or something.

[2020-06-03 11:12] ambr-kobayashi opened #163 "Terms of Service of Youtube"
Hello.
I'd like to use this library for own production.
Before using this library, I 'd like you to make sure about terms of service of Youtube( https://www.youtube.com/static?gl=US&template=terms ).

In the Permission and Restriction section, the following sentences are described.
[code]

Downloading Youtube videos seem to be prohibited, however, You said "clean way to download YouTube videos" on

[2020-06-03 18:57] WandresR commented on #162
In this case, how can I download video and audio separately? The problem is that I can’t download 480 and 1080 video. The video does not load. Video with a resolution of 480 takes a very long time to load and the process takes a lot of memory. Video with a resolution of 1080 does not load, Application Crash!

[2020-06-03 19:29] SulfuricAcidH2SO4 commented on #162
You download once the video at your desired quality then download it once more at the lowest resolution. When you write the bytes you just need to change the format you're saving it in. For example if you want only the audio, you download it normally then save it as .mp3 file. About the load time it seems pretty strange to me since I've never experienced anything similar. Furthermore, this library

[2020-06-16 11:37] nicolapreda opened #164 "Download a playlist"
Good morning, I would like to know if with this NuGet pack it is also possible to download entire playlists from youtube. If you could help me with the code? thank you very much.
With this code i can only download videos from youtube in .mp3 or .mp4:

using (FolderBrowserDialog fdb = new FolderBrowserDialog() { Description = "Seleziona la cartella di destinazione del download" })
            {

[2020-06-29 18:32] AbbasBHF opened #165 "Videos are unavailable, How use proxy?"
Hey
When I call getAllVideos from localhost for some videos, I can get videos.
But when I call it from a server that is in Germany, videos are unavailable.
I had this problem with YoutubeExplode.

1. Proxy can solve this problem?
2. If 1 == true then how I can use proxy with this library?

[2020-07-01 16:04] Ricomitdreio opened #166 "Title of each video is "YouTube""
If I try to download a youtube video then I get only the Title "YouTube" and FullName "YouTube.mp4" but the video is the right one and I can download this.
It was working very good till now.
![image](https://user-images.githubusercontent.com/39564073/86266281-43488900-bbc5-11ea-96dc-e32630c966cf.png)

[2020-07-04 20:20] AnesHamdani08 commented on #166
I get that issue too

[2020-07-10 11:15] #166 closed, assigned to nobody

[2020-07-14 18:26] Moooog opened #167 "The given key was not present in the dictionary"
`YouTubeVideo vid = YouTube.Default.GetVideo(GetURL);`

Result:
![image](https://user-images.githubusercontent.com/25987993/87462462-e1960f00-c607-11ea-982b-94b19a9f46a8.png)

[2020-07-19 03:34] nlogozzo commented on #164
Look @ #156

[2020-07-19 13:43] shannonfonseka opened #168 "Re-create the documentation"
Hello, can you recreate the documentation for Visual Basic. I really don't know C#. 😕

[2020-07-21 18:57] vincetota opened #169 "Could not find signature decipherer definition body..."
Today I receive this error when I try to download a video: "Could not find signature decipherer definition body. Please report this issue to us."

Please can you check?
Thanks a lot!

[2020-07-21 21:13] nlogozzo commented on #169
Getting the same error....

[2020-07-21 21:43] ColorTwist commented on #169
Same here.

[2020-07-21 21:49] nlogozzo commented on #169
Here's the full error i'm getting. Happens with every video i try to download
![image](https://user-images.githubusercontent.com/17648453/88110616-7e155f80-cb7a-11ea-8195-8aab26f44607.png)

[2020-07-22 18:55] omansak commented on #169
I am looking now

[2020-07-22 19:11] #169 closed, assigned to nobody

[2020-07-22 19:14] omansak commented on #168
@shannonfonseka You can use https://converter.telerik.com/

[2020-07-22 19:15] omansak commented on #167
Please update lase version

[2020-07-22 19:15] #167 closed, assigned to nobody

[2020-07-22 19:15] #164 closed, assigned to nobody

[2020-07-23 06:53] Moooog commented on #167
still the same issue.

[2020-07-28 06:56] vincetota opened #170 "Could not find signature decipherer definition body..."
Today I'm experiencing again the error "Could not find signature decipherer definition body...contact us". The same of 6 days ago...
Please can you check?

Thanks a lot!

[2020-07-28 09:39] Jack-Paul commented on #170
Yes, facing same problem, youtube has modified something.

[2020-07-29 01:53] tiagogenuino commented on #170
I am also having the same problem when downloading with the IsEncrypted property as true. When the property is not set to true it works normally.

[2020-07-29 06:03] ColorTwist commented on #170
Same here like a few days ago.

[2020-07-29 11:53] omansak commented on #170
I am looking now

[2020-07-29 12:29] #170 closed, assigned to nobody

[2020-07-29 12:30] omansak commented on #170
can you guys try last commit ?

[2020-07-29 12:41] ColorTwist commented on #170
Did a short test, seems to be working! Well Done!

[2020-07-29 12:43] gdmarconetto commented on #170
Hi, same problem, but It's working now! Can you please create a new version of NuGet package ? It will be awesome

[2020-07-29 14:23] omansak commented on #170
Nuges has updated

[2020-07-29 23:20] tiagogenuino commented on #170
Testing here, it worked again. thank you very much.

[2020-07-30 05:08] Rene-Pierre opened #171 "Getting an Exception "Could not find signature decipherer definition name. Please report this issue to us." at GetBytes()"
Does not always happen, but more often now.
Is this a known issue?

[2020-07-30 09:37] omansak commented on #171
Please update last version

[2020-07-30 15:04] Rene-Pierre commented on #171
Thanks, that did the trick.

[2020-07-30 22:54] #171 closed, assigned to nobody

[2020-08-04 16:16] dotMatthew opened #172 "If the resolution of the video is above 720p there is no sound."
I have wrote this sample application for my friend. After i tried to download some videos i have noticed that there is no sound for videos where the resolution is above 720p.

[code]

Is this a bug from the library or something like a "feature" from youtube

[2020-08-04 16:26] dotMatthew commented on #172
Duplicate .-.
https://github.com/omansak/libvideo/issues/108

[2020-08-04 16:26] #172 closed, assigned to nobody

[2020-08-08 22:55] Ricomitdreio opened #173 "Youtube API Key - Need help!"
I have a question about youtube api key.
After some downloads I get a limit message and then I cant download more videos for some hours. I can solve this problem if I use an api key from the youtube developer page.
But I don't know, how I can use the key with libvideo.
Can you help me, please?

[2020-08-09 12:26] Donaut commented on #173
i think if you use an api key you still got a daily limit. I don't think libvideo video support api key or oauth in any way.

[2020-08-09 15:31] Ricomitdreio commented on #173
Okay :(

[2020-08-10 21:44] #173 closed, assigned to omansak

[2020-08-10 21:45] #162 closed, assigned to nobody

[2020-08-27 07:57] gdmarconetto opened #174 "Not all video resolution ara available"
Hi all,
i have a strange problem with one YouTube video.

For an application i need the direct uri to the video to play it, so here is what i'm doing:

[code]
Than i can this to get the Uri:
`
video.Uri;
`

With [this](https://www.youtube.com/watch?v=F2d2hEM1N6k&feature=youtu.be) YouTube video i get that for some resolution (like 720p) ContentLenght = 0 and Uri return a error page.

It's normal ?

[2020-08-27 20:48] banderberg commented on #174
You can also specify the query string param vq=hd1080 for example to get 1080p, and the video downloaded is the same size with or without it, and is clearly NOT 1080p.

[2020-09-25 13:54] Predator75 opened #175 "Audio/Video Track separated"
Hi,
Youtube switched to separate audio/video streaming technology for higher quality formats and no longer provides direct 720p (Since 24 September 2018)/1080p/mp3 streams.
Any solution?
regards

[2020-10-16 06:36] derekj-s opened #176 "still getting 'sequence contains no elements' error"
This happens randomly, it isn't a consistent error. I notice it happens when I download more than 5 videos in a row.

The console outputs this:

Exception thrown: 'System.InvalidOperationException' in mscorlib.dll
An exception of type 'System.InvalidOperationException' occurred in mscorlib.dll but was not handled in user code
Sequence contains no elements

When trying to call:             var vid

[2020-10-16 16:32] derekj-s commented on #176
fixed this with a simple try-catch statement

[2020-10-27 17:53] tesses50 opened #177 "Sequence contains no elements when downloading"
I use wii-linux-ngx and this library worked on my wii yesterday

But i still think the wii part is irrelevant to this issue

[2020-10-27 21:07] Khirath-bit commented on #177
Got the same issue here. It worked on my windows computer yesterday.

[2020-10-27 21:09] Disseldoof commented on #177
Hey,
got the same issue.
Can't exectuce GetAllVideos or GetVideo.
ErrorMsg: Sequence contains no elements

[2020-10-27 21:52] noletoft commented on #161
its only me or this issue is back?

[2020-10-27 21:56] noletoft commented on #177
Same here, it seems to be a recorrent issue raised here couple of months ago : https://github.com/omansak/libvideo/issues/161

[2020-10-27 21:59] vincetota commented on #177
Same issue here...

[2020-10-28 05:51] mixail167 opened #178 "Method ParseJsPlayer returns null"
In ParseJsPlayer

string jsPlayer = Json.GetKey("js", source).Replace(@"\/", "/"); // returns empty string

[2020-10-28 06:25] derekj-s commented on #177
same here, this issue occurred randomly every once in a while, so a simple catch statement was able to fix it. Now it is consistently getting this error, so  .GetVideo does not work at all. There is a 0 success rate, not sure what triggered this issue. It's probably from Youtubes end. Omansak please fix :(

[2020-10-28 09:13] gdmarconetto commented on #177
Same here

[2020-10-28 10:01] ugurisik commented on #177
same issue here

[2020-10-28 12:15] #178 closed, assigned to omansak

[2020-10-28 12:16] omansak commented on #178
Can you test last commit ?

[2020-10-28 12:17] omansak commented on #177
Can you test last commit ?

[2020-10-28 12:17] omansak commented on #176
Can you test last commit ?

[2020-10-28 13:13] vincetota commented on #177
It works now for me.
Thank you Omansak!

[2020-10-28 13:42] #177 closed, assigned to omansak

[2020-10-28 13:42] #176 closed, assigned to omansak

[2020-10-28 15:36] alibalci7 commented on #177
it still doesnt work for me
what should i do for making it worked?

[2020-10-28 16:20] adlucas commented on #165
Yes I have the same issue.
When I do :
var vid = youtube.GetVideo("https://www.youtube.com/watch?v=x5uF0-7M9vk");

it throws an exception.

On may 2020 it has been working.

How can I solve?

[2020-10-28 16:27] derekj-s commented on #177
how do i test the last commit if I installed the package using NuGet?

[2020-10-28 17:51] omansak commented on #165
@adlucas update nuget or build files

[2020-10-28 17:52] omansak commented on #177
@derekj-s Yes, i has just updated on nuget

[2020-10-28 23:42] noletoft commented on #177
Working again! Thanks Omansak

[2020-10-29 11:45] AndreZila01 opened #179 "Download video/music but i dont listenning the sound"
I am Creating an Youtube to MP4 Downloader for Windows in .Net framework / C#. I am using the VideoLibrary to download the Video.

I use code the download, and use File.WriteAllBytes, and when i open the video I dont listenning the music of video.

My code:
[code]

Thanks for your help!!

[2020-11-02 21:28] omansak commented on #179
720p and above res has no sound.

[2020-11-02 21:29] omansak commented on #175
#179

[2020-11-03 10:37] AndreZila01 commented on #179
Cannot worked, if I use 720p or 360p. I try convert mp4 and mp3, and dont work.

[2020-11-10 00:43] LordCookie opened #180 "Change reselution"
i need help how do i Change the default Resolution to 1080p?
thx for the help.

[2020-11-10 00:44] LordCookie commented on #180
NVM im dumb

[2020-11-10 00:44] #180 closed, assigned to nobody

[2020-11-10 13:37] iUnstable0 opened #181 "Error while copying content to a stream. The specified data could not be decrypted"
https://i.imgur.com/dbLhJ9D.png

it gave me this error when I try to download the video.
In some videos, it works but in some videos throws this error.

Edit: Sometime youtu.be works but youtube.com/watch?v= doesn't work. and vise versa
sometimes it works sometimes it doesn't work too

Full details

System.Net.Http.HttpRequestException
  HResult=0x80131500
  Message=Error while copying content to

[2020-11-10 17:44] omansak commented on #181
Did you use last version ?

[2020-11-11 11:45] iUnstable0 commented on #181
yep i just checked now no new version I'm on version 3.0.8
https://i.imgur.com/b63dqo5.png

[2020-11-14 17:02] omansak commented on #181
can you share youtube id ?

[2020-11-17 15:27] iUnstable0 commented on #181
what do you mean youtube id? sorry for responding late 🍡

[2020-11-21 02:28] MartelSimon commented on #165
Same Issue

[2020-12-06 12:48] ColorTwist opened #182 "Does anyone get ' Value cannot be null.'?"
Hey All,
Getting ' Value cannot be null.', anyone encounter this?

[2020-12-07 09:32] KevinDeery opened #183 "Sequence contains no elements"
Hi ,

Ive been using this for a long time in my movie app and recently im getting "Sequence contains no elements", this occurs in the basic sample. Maybe YouTube have changes something in there HTML markup

`
 try
 {
     string uri = "https://www.youtube.com/watch?v=vPto6XpRq-U";
     var youTube = YouTube.Default;
     var video = youTube.GetVideo(uri);
 }
 catch (Exception ex)
 {
      Debug.Wr

[2020-12-07 23:11] tesses50 opened #184 "429 (Too Many Requests)"
Hey its mike again with libvideo on his wii linux

I think my public ip changed since i got this error a few days ago and i still got this error first video

Error getting response stream (Write: BeginWrite failure): SendFailure

My app reports starting download 8Mkc00yIhts

429 (Too Many Requests)

[2020-12-13 23:57] #184 closed, assigned to nobody

[2020-12-26 11:23] arogerm opened #186 "Player json has no found."
Dear all
When i try to download a video a recived a exception Player json has no found.
var youTube = YouTube.Default;// starting point for YouTube actions
var video = youTube.GetVideo("https://www.youtube.com/watch?v=mCeF-IF7JMg");
which could be the mistake in my code?

[2020-12-26 12:19] omansak commented on #186
i guess its seem like a bug

[2020-12-26 13:39] arogerm commented on #186
Thanks for your fast reply

[2020-12-27 21:31] arogerm commented on #186
For your information
I think that it's a malformed Json
If you change the funcion ParsePlayerJson(string source) removing \r\n at start an change ytInitialPlayerPattern excluding <script match then works

private string ParsePlayerJson(string source)
{
	**source = source.Replace(@"\u0026", "&").Replace("\n", string.Empty).Replace("\r", string.Empty).Replace("var ", "\r\nvar ");**
	string playerRes

[2020-12-29 08:40] #186 closed, assigned to omansak

[2020-12-29 08:41] omansak commented on #186
@arogerm ty for solution. can you test last changes?

[2020-12-29 08:43] omansak commented on #183
`vPto6XpRq-U` is unavailable on YT

[2020-12-29 08:43] #183 closed, assigned to nobody

[2020-12-29 08:44] omansak commented on #182
can you give a sample ?

[2020-12-29 08:45] #175 closed, assigned to nobody

[2020-12-29 08:45] #179 closed, assigned to nobody

[2020-12-29 08:45] ColorTwist commented on #182
Sorry, my error, overwriting code solved that.
you can delete thread.

[2020-12-29 08:45] #182 closed, assigned to nobody

[2020-12-29 08:49] iUnstable0 commented on #181
It’s not solved why did you close this !

[2020-12-29 09:01] omansak commented on #181
can you test on last versions ? @happygagarara12

[2020-12-29 11:40] arogerm commented on #186
Dear omansak
now work fine.
Thanks

[2020-12-29 20:38] Donaut commented on #163
For any real applications the only way to download youtube videos is by registering your service in the google credentials page. But this has their own drawbacks like there are a limit how much you can downloads(you need to pay if you want more) and using google credentials for small projects where are no organization is totally unnecesary. This libary is just like a Webrowser without a window (yo

[2021-01-04 02:35] dkroye commented on #181
@omansak Tested and appears to be fixed. Thank you!

[2021-01-04 04:58] iUnstable0 commented on #181
yes it is fixed, thank you!!!

[2021-01-09 00:40] #181 closed, assigned to nobody

[2021-01-09 11:32] AndreZila01 opened #187 "Erro resolution, the resolution not exist in video"
Hey everyone,

I have one problem in my project and i cann't "jump" this step. If i try download [one video](https://www.youtube.com/watch?v=sv5_2_H9M3Q), for example and the project give my 'Object reference not set to an instance of an object.'.

At the moment i have this code:

[code]

[2021-01-14 15:25] omansak commented on #187
Hi;
Thank you for issue. your related video have {144,240,360,480}p resolutions. what is the ` int.Parse(cboResolucao.Text)` code's result ?

[2021-01-14 15:27] omansak commented on #174
Thank you for  feedback.
i will look this issue as soon

[2021-01-14 20:19] AndreZila01 commented on #187
![image](https://user-images.githubusercontent.com/56931353/104644603-dd75a780-56a5-11eb-8ee9-9f05aa0a5d1d.png)

[2021-01-14 23:16] omansak commented on #187
your resulution is hard coded values ?

[2021-01-15 19:12] Vesper-Works opened #188 "Parameter "str" value cannot be null"
My program has been working fine until recently. When doing "youTube.GetVideo" or "await youTube.GetVideoAsync" for any valid YouTube link this error arises:

[code]

In another project of mine, I think I'm using YouTube explode for audio, the library has stopped working also. Purhaps YouTube has changed something themselves?
Thanks

[2021-01-16 19:26] AndreZila01 commented on #187
#148

[2021-01-16 19:26] #187 closed, assigned to nobody

[2021-01-23 20:39] HaseebUllahAbbasi commented on #174
@omansak  Have you set your own resolution , did you succeed?

[2021-01-23 20:40] HaseebUllahAbbasi opened #189 "Can't Download the Higher Resolution, Any Idea to set your own resolution..?"

[2021-01-25 19:37] DanCooper opened #190 "Feature Request: add "videoDetails.author" and "videoDetails.lengthSeconds" as additional information"
Hello

Please add the information "DurationInSeconds" (videoDetails.lengthSeconds) and "Author" (videoDetails.author). This information is very useful for filtering videos.

[2021-01-30 14:48] omansak commented on #188
Does this still occur?

[2021-01-30 14:50] omansak commented on #189
#148 you can use like this

[2021-01-30 14:50] #189 closed, assigned to nobody

[2021-01-30 14:51] omansak commented on #190
this is a great idea, i will work on this as soon

[2021-01-30 14:51] omansak commented on #152
Outdated

[2021-01-30 14:51] #152 closed, assigned to omansak

[2021-01-30 15:15] omansak commented on #190
may you test last commit 82f24c09e3cccb577fa9887e5d091abf5d86fce6?

[2021-01-30 15:19] omansak commented on #189
[code]

[2021-01-30 15:25] omansak commented on #168
updated docs.

[2021-01-30 15:25] #168 closed, assigned to nobody

[2021-01-30 15:27] omansak commented on #163
this subject is not about of code so i will close this

[2021-01-30 15:27] #163 closed, assigned to nobody

[2021-01-30 15:27] omansak commented on #150
Outdated.

[2021-01-30 15:27] #150 closed, assigned to omansak

[2021-01-30 15:41] Vesper-Works commented on #188
Yes.
Here is the exact code I'm using, and the link:
[code]
https://www.youtube.com/watch?v=7TJvqYvJ9oM&ab_channel=BlastingCompany

The error flags on the line "var video = await youTube.GetVideoAsync(link);".

[2021-01-30 17:57] DanCooper commented on #190
Thank you! I'lkl test it later today and do a feedback.

[2021-01-31 11:13] omansak commented on #188
this video has  age-restricted

[2021-01-31 14:13] Vesper-Works commented on #188
I get the error regardless of whether or not it's age-restricted.

I've just now updated to version 3.0.9 and the issue seems to be resolved thankfully.
Thanks for your time, and sorry I didn't check for the latest version sooner.

[2021-01-31 14:13] #188 closed, assigned to nobody

[2021-02-02 23:12] DanCooper commented on #190
So, 3 days later I've found the time to test (sorry for the delay). And it works as expected and great! Thank you!

[2021-02-03 14:44] Anabolkick opened #193 "Unknown type "VidoInfo""
VideoInfo info = video.Info;
Unknown type "VidoInfo"

[2021-02-04 20:10] omansak commented on #193
please get lat build from github. i did not still update nuget

[2021-02-07 15:45] Anabolkick commented on #193
Okay, thank you)

[2021-02-18 15:10] christopher-nzcs commented on #174
@HaseebUllahAbbasi, Yeah. you just have to add `&vq=hd1080` to the end of the url.
Here is a link showing how you can change the resolution/fullscreen via the URL: [Here](https://www.cnet.com/how-to/how-to-link-to-full-screen-hd-video-in-youtube/)

[2021-02-23 18:27] Rene-Pierre opened #194 "GetBytes failing with a 403 Error"
YouTubeVideo's GetBytes function is suddenly failing with a 403 HTTPs error.
Did anything change?

[2021-02-24 06:07] Jack-Paul commented on #194
Yes, nothing seems to be working for now.

[2021-02-24 10:37] #194 closed, assigned to nobody

[2021-02-24 13:56] Rene-Pierre commented on #194
Thanks for the 3.1.0 update.
Truly a race every time with YouTube.
________________________________
From: OMANSAK <notifications@github.com>
Sent: Wednesday, February 24, 2021 11:37 AM
To: omansak/libvideo <libvideo@noreply.github.com>
Cc: Rene-Pierre <rene_hautle@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [omansak/libvideo] GetBytes failing with a 403 Error (#194)

Closed #194<

[2021-03-01 14:50] taqabubaker opened #195 "Get age restricted YouTube videos by querying using a user credentials"
Whenever you try to get a video has an age restriction you get the below exception where YouTube asks you to login to confirm your age. It would be great if we can get the video using a user credentials.

[code]

[2021-03-08 11:03] #193 closed, assigned to nobody

[2021-03-08 11:03] #190 closed, assigned to omansak

[2021-03-31 20:21] arogerm opened #196 "Error Geting some videos"
Deal all
1.- If you try download some videos as
var youTube = YouTube.Default;// starting point for YouTube actions
var video = youTube.GetVideo("https://www.youtube.com/watch?v=952lvP709kk"); // gets a Video object with info about the video
the program return an error

2.- It's possible get the video with this king of urls https://www.youtube-nocookie.com/embed/952lvP709kk ?

Other videos with er

[2021-03-31 21:26] Wryal opened #197 ""Sequence contains no elements""
`var vid = youtube.GetVideo(link);`

this line throws the exeption "sequence contains no elements", even though it used to work fine the first times.
is it something youtube-related? Am I the only one who experienced this?

[2021-03-31 22:27] arogerm commented on #197
Dear Wryal
It's the same error that tis ticket
https://github.com/omansak/libvideo/issues/196#issue-847270981

[2021-04-01 20:34] omansak commented on #196
I have tested it and its seems no problem idk.

[2021-04-01 22:22] arogerm commented on #196
var videoInfos = cli.GetAllVideosAsync(uri).GetAwaiter().GetResult();
don't return error but don't get any video
var videoInfos1 = cli.GetVideoAsync(uri).GetAwaiter().GetResult();
return error Sequence contains no elements

[2021-04-02 19:10] mheitmeijer commented on #196
Issues is being caused by the consent page Youtube returns. Did some quick testing and a request like "https://consent.youtube.com/m?continue=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D-EbF6qz9m20&gl=NL&m=0&pc=yt&uxe=23983172&hl=en&src=1" will download the movie "https://www.youtube.com/watch?v=-EbF6qz9m20". If you skip the "TryNormalize" method, because it isn't a valid url according the method.

[2021-04-03 10:06] arogerm commented on #196
I think that the 3 Option it's the best
**Or the first response should be checked for a consent page and then an extra call could be made with the "consent.youtube.com...." to get the movie**
I try to modified de code

[2021-04-03 21:19] AndreZila01 opened #198 "Cannot collect all resolutions, ..."
Hey programmers,

i have one problem of to collect all resoltion of video, i use this source:

[code]

And collect Null, ...

![image](https://user-images.githubusercontent.com/56931353/113491682-790afd00-94ca-11eb-9f31-a8aba0bc5362.png)

if you have a solution, please help me.

[2021-04-05 12:44] omansak commented on #197
can you guys share any example id's ?

[2021-04-05 12:52] omansak commented on #198
![image](https://user-images.githubusercontent.com/14445821/113575589-c4d2b900-9626-11eb-89cc-1bbacb08d29c.png)

this is valid code for me.

[code]

[2021-04-05 12:55] omansak commented on #196
![image](https://user-images.githubusercontent.com/14445821/113575854-327ee500-9627-11eb-9e43-070ede263a12.png)

idk. is this not valid. ?

[2021-04-05 14:44] arogerm commented on #196
I don't undersrtand nothing
5 day ago the 3 ids return error, 952lvP709kk, GaKeF0RLKzc and IbeEiNrtqrU
now only return error this id GaKeF0RLKzc

[2021-04-06 06:55] HannahKiekens commented on #197
I get the same exception on
https://www.youtube.com/watch?v=9BUlNO09UgA

Trying downloading from Belgium

[2021-04-06 11:02] omansak commented on #197
i tried seems no problem :) idk can you give code snippet or error responses

[2021-04-06 11:02] omansak commented on #197
interesting i wll check that

[2021-04-06 11:03] omansak commented on #196
can you give all error text ?

[2021-04-06 11:18] HannahKiekens commented on #197
[code]
[code]

[2021-04-06 11:22] HannahKiekens commented on #197
csproj info:
[code]

[2021-04-06 13:07] AndreZila01 commented on #198
One question omanask how i can collect 60fps in video, "1080p60".

[2021-04-06 21:11] HiImLesic opened #199 "No more audio"
Im using libvideo as a way to download audio files.
However, since a few days, .GetAllVideos wont give me any audio format anymore.
This is what I have been using since a couple of years and its been working quite well:
[code]

However in this case, audio is an empty list now.
In fact, videos is already an empty list...

[2021-04-07 18:09] JaniNagy commented on #197
Hi!

I have the same problem.

Code:

                    YouTube youtube = YouTube.Default;
                    var vid = await youtube.GetVideoAsync(lv.Items[i].SubItems[0].Text);
                    File.WriteAllBytes(source + vid.FullName, vid.GetBytes());
                    MediaFile inputFile = new MediaFile { Filename = source + vid.FullName };
                    MediaFile outputFile = ne

[2021-04-09 13:32] SMarconetto commented on #197
Hi all,
have some problem here

The code
[code]

"videos" count is 0.

The video i'm trying:
[https://www.youtube.com/watch?v=0z0iMvZfa5E](https://www.youtube.com/watch?v=0z0iMvZfa5E)

[2021-04-14 12:44] wolfSYS opened #200 "Error getting ANY videos or audios from YT"
I had to see that all of a sudden your library stopped working.  It is not any longer possible to obtain any files from youtube.

![yt-lib-not-any-files](https://user-images.githubusercontent.com/15673259/114711841-b58ef200-9d2f-11eb-8642-2c9217e7afb4.png)

Both **GetAllVideosAsync()** and **GetVideoAsync()** return NULL für _every_ single YT ID.

[2021-04-14 12:46] RK4444 commented on #200
Yeah, the same problem here

[2021-04-15 09:37] wolfSYS commented on #200
We need the possibility to pass **HttpClient** to the YoutubeClient.  In **HttpClient** we could set the **CONSENT cookie** for Youtube like this:

            Uri uri = new Uri("https://www.youtube.com");
            HttpClientHandler handler = new HttpClientHandler();
            handler.CookieContainer = new CookieContainer();
            handler.CookieContainer.Add(uri, new Cookie("CONSENT", "

[2021-04-15 12:15] omansak opened #201 "Test - Cookie consest"
class MyHandler
    {
        public HttpMessageHandler handler = null;
        public CookieContainer cookieContainer = new CookieContainer();
        public HttpMessageHandler GetHandler()
        {
            if (handler == null)
            {
                cookieContainer.Add(new Cookie("CONSENT", "YES+cb", "/", "youtube.com"));
                handler = new HttpClientHandler

[2021-04-15 12:15] omansak commented on #200
please test #201

[2021-04-15 12:16] omansak commented on #199
#201

[2021-04-15 12:16] omansak commented on #197
please test #201

[2021-04-15 12:17] omansak commented on #196
please test #201

[2021-04-15 12:19] omansak commented on #174
please test #201

[2021-04-15 15:28] wolfSYS commented on #201
Thank you for your quick response.
Unfortunately this doesn't work for me.  Created a little console app like above but setting breakpoints in the override methods never ever get fired and **cli.client.handler.CookieContainer** does not contain "CONSENT" nor "YES+cb".

[2021-04-15 19:38] omansak commented on #201
sorry my bad i will back soon :D

[2021-04-15 19:43] akaelin commented on #201
@omansak
I managed to solve the error caused by the consent page.

if the request is coming back with the consent page, i parse the "Agree" Form und make another post with the hidden Fields sent as FormUrlEncodedContent. The returned Request is then the expected Video which allows the code to proceed as normal.

![ConsentPage](https://user-images.githubusercontent.com/4598105/114928179-97f68100-9e

[2021-04-15 20:07] omansak commented on #201
i edited pls try again @wolfSYS

[2021-04-15 20:23] HiImLesic commented on #201
this works @omansak

[2021-04-15 20:43] omansak commented on #200
please test 3.1.1 on github and nuget

[2021-04-15 20:43] omansak commented on #199
please test 3.1.1 on github and nuget

[2021-04-15 20:44] omansak commented on #197
please test 3.1.1 on github and nuget

[2021-04-15 20:44] omansak commented on #196
please test 3.1.1 on github and nuget

[2021-04-15 20:44] omansak commented on #201
please test 3.1.1 on github and nuget @HiImLesic  @akaelin  @wolfSYS

[2021-04-15 20:44] omansak commented on #201
thx for your helping

[2021-04-15 20:46] omansak commented on #201
@akaelin  great thanks for helping

[2021-04-16 05:00] HiImLesic commented on #201
nuget works aswell, thank you very much!

[2021-04-16 09:29] SMarconetto commented on #201
@omansak Yes NuGet 3.1.1 works! Thank you!

[2021-04-16 09:36] wolfSYS commented on #201
Great work, thank you very much!

[2021-04-16 09:37] wolfSYS commented on #200
solved with ver 3.1.1
thx a lot!

[2021-04-16 09:37] #200 closed, assigned to omansak

[2021-04-16 10:50] #201 closed, assigned to omansak

[2021-04-16 10:50] #199 closed, assigned to omansak

[2021-04-16 10:50] #197 closed, assigned to omansak

[2021-04-16 10:50] #196 closed, assigned to omansak

[2021-04-17 07:59] StefH opened #202 "Downloading audio (.webm) only is very slow?"
I'm using this code:
[code]

And downloading a 7 MB audio file takes ~ 50 seconds ?:
[code]

[2021-04-17 15:14] #198 closed, assigned to omansak

[2021-04-18 18:06] nycr0x opened #203 "How i can use ffmpeg with videolib ?"
how i can combine downloaded video + audio with ffmpeg. Anybody can help ?

[2021-04-19 11:41] omansak commented on #202
try download with chunks.

Chunk : https://stackoverflow.com/questions/13566302/download-large-file-in-small-chunks-in-c-sharp

Sample Project for UWP (u can extract chunk) : https://github.com/omansak/UWP-Download-in-Chunks

[2021-04-20 23:19] nycr0x commented on #202
bro did u fixed ?

[2021-04-21 06:07] StefH commented on #202
Hello @nycr0x, for now I use https://github.com/Tyrrrz/YoutubeExplode which is faster.

For my example project see: https://github.com/StefH/Blazor.YouTubeDownloader.

[2021-04-21 13:10] omansak commented on #202
I wrote a custom client , you can take a reference it

https://github.com/omansak/libvideo/blob/master/src/libvideo.debug/CustomYoutubeClient.cs

[2021-04-21 15:25] omansak commented on #174
added new formats

[2021-04-21 15:25] #174 closed, assigned to omansak

[2021-04-21 15:26] omansak commented on #198
you can use FPS property in 3.1.2

[2021-04-29 02:12] #202 closed, assigned to nobody

[2021-05-08 12:56] srdev78 commented on #203
@nycr0x - Have you tried using MediaToolkit?

https://github.com/AydinAdn/MediaToolkit

[2021-05-17 12:59] teSill opened #204 "Does this go against YouTube ToS?"
As in, would this library be safe to use in a production environment? I know YouTube doesn't like their videos being downloaded.

[2021-06-12 10:35] NETdeve commented on #204
Hi @teSill. If you want to share a tool which download youtube videos it's legal. It's your tool's user responsibility to download copyright protected videos without permissions. Bye.

[2021-06-20 13:41] FlorentVllasa opened #205 "Get availalble qualities of a video"
Hi,

is there a possibility to get the available qualities of a youtube video?

Thanks

[2021-06-20 14:11] omansak commented on #205
https://github.com/omansak/libvideo/blob/master/docs/README.md#advanced

[2021-06-20 14:11] #205 closed, assigned to nobody

[2021-07-02 11:33] #203 closed, assigned to nobody

[2021-07-02 11:34] #204 closed, assigned to nobody

[2021-07-16 17:15] nlogozzo opened #208 "Slow Download & Error: Response status does not indicate success"
I have this code to download a video
[code]
Now sometimes it works and sometimes it doesn't. No error is throw however upon break point inspection sometimes the code doesn't go past this line `var videoBytes = await video.GetBytesAsync();` yet again no error is thrown. And it's not like its specific video issues cause if I go to run it again with the same video, it works no issues. The line that s

[2021-07-16 17:18] nlogozzo commented on #208
I think this could be related to:
https://github.com/Tyrrrz/YoutubeExplode/issues/573

More info affecting youtube-dl too: https://github.com/ytdl-org/youtube-dl/issues/29326

[2021-07-24 15:37] EdwinCloud101 opened #209 "1080 video downloading without sound"
I came across this code that works but there is no sound. I searched for old github issues and it seems it was supposed to be fixed in the 3.0 version from 2019.

thanks

[code]

[2021-07-26 15:00] omansak commented on #209
its youtube problem you cant download audio+video for new videos. you should mix them with like ffmpeg

[2021-07-26 15:00] #209 closed, assigned to nobody

[2021-07-26 15:05] omansak commented on #208
did u use download with chunks like this ? and can you give me a sample url ?

`https://github.com/omansak/libvideo/blob/master/src/libvideo.debug/CustomYoutubeClient.cs`

[2021-07-26 15:19] nlogozzo commented on #208
This is how I download:
[code]
And like I said, it happens with different videos at different points. One time the video will download normally, the next super slow. I urge you to look at the issues I linked, I believe they might explain what's going on.

[2021-07-26 15:34] omansak commented on #208
use dowload with chunk. youtube sometimes reduces download speed for +10mb videos.

Example Chunks Download :
https://github.com/omansak/libvideo/blob/master/src/libvideo.debug/CustomYoutubeClient.cs

[2021-07-26 15:46] nlogozzo commented on #208
I'm currently working on another project but as soon as I get to this one I'll try downloading via chunks and let you know how it goes!

[2021-08-22 05:38] sepp89117 commented on #195
Hi, maybe can this code be integrated relatively easily?
@omansak @zerodytrash
zerodytrash/Simple-YouTube-Age-Restriction-Bypass

[2021-08-28 11:35] sepp89117 commented on #195
Got it!

1. Set target framework to .NET Standard 2.0
2. Add
[code]
under line 72 in YouTube.cs.

It works for me

[2021-08-29 15:23] charlieahill opened #212 "Possibility to Get Upload Date of Video"
Hello, is there a possibility to get the upload date of a YouTube video from the VideoInfo?

[2021-08-30 16:40] sepp89117 commented on #212
Hi, you can get it from variable playerResponseJson in YouTube.cs by adding:
```var uploadDate = playerResponseJson.SelectToken("microformat.playerMicroformatRenderer.uploadDate")?.Value<string>();```

[2021-08-30 20:05] charlieahill commented on #212
Works perfectly! Thank you!

[2021-08-30 20:05] #212 closed, assigned to nobody

[2021-08-30 20:12] omansak commented on #212
@charlieahill @sepp89117 u guys can add to VideoInfo object  and pull request via https://github.com/omansak/libvideo/blob/418db460756e51acbcb0d53c523f3c8a37bc7a16/src/libvideo/YouTube.cs#L81

[2021-08-30 20:12] #208 closed, assigned to nobody

[2021-09-22 14:27] Dei11 opened #213 "How can I download video usign "GetAllVideos(VideoURL)""
[code]

[2021-09-25 20:36] Areoxy commented on #213
Hey,

i had the same problem like yours and found a solution.

[code]

(Note that you replace the path with **your** path!)

Regards

[2021-09-25 20:41] #213 closed, assigned to nobody

[2021-10-01 20:01] Areoxy opened #214 "Download Videos with Chunks does not work"
Hey,

i want to download Video with chunks, but it doesn't work. The application stop working when the Run() function is called

My Code:

[code]

[2021-10-03 20:25] omansak commented on #214
your run function is async did u use ` .GetAwaiter().GetResult(); `or `await` btw i tested your codei works perfect.

[2021-10-04 11:31] Areoxy commented on #214
In the Run() function i used `.GetAwaiter().GetResult();
`  if you mean that

[2021-10-06 13:48] omansak commented on #214
use in `download_video`

[2021-10-14 08:30] #214 closed, assigned to nobody

[2021-10-17 00:22] scavet64 opened #216 "GetBytes() seemingly never returns on some videos"
Not totally sure what happened, but recently I am unable to get the bytes from a video. Super quick videos seem to work fine, however anything longer than a few minutes will lock up.

I tried using the libvideo.debug project and added a call to the GetBytes method

[code]
It seems to hang on the GetBytes call. I left it running for 15 min and didnt seem to get any response

[2021-10-18 22:20] PureDevelopers opened #219 "GetBytes Not working, just hanging"
### Discussed in https://github.com/omansak/libvideo/discussions/218

<div type='discussions-op-text'>

<sup>Originally posted by **PureDevelopers** October 18, 2021</sup>
I just found this package, and attempted to use it by creating a new app in VS.
When debugging, the app just hangs on the GetBytes method.

Any idea why or how to fix?

the following simply doesn't work for me:

`var youTube = Y

[2021-10-18 22:22] ghost commented on #219
here is the path I am using: https://www.youtube.com/watch?v=Pxw5WTxJ7To

[2021-10-21 13:39] alefsoft1 commented on #150
I have the same problem. I get "Too Many Requests"!
Details:

System.Net.Http.HttpRequestException
  HResult=0x80131500
  Message=Response status code does not indicate success: 429 (Too Many Requests).
  Source=System.Net.Http
  StackTrace:
   at System.Net.Http.HttpResponseMessage.EnsureSuccessStatusCode()
   at System.Net.Http.HttpClient.<GetStringAsyncCore>d__35.MoveNext()
   at System.Runtime

[2021-10-21 13:39] alefsoft1 commented on #150
I use latest videolibrary.

[2021-10-22 15:23] omansak commented on #219
can you share your exception ?

[2021-10-22 15:23] omansak commented on #216
can you share any sample ID ?

[2021-10-26 04:55] Dls79 opened #220 "await video.GetBytesAsync() large delay"
Great package! However I'm currently using ver3.1.2 and I am noticing that it takes 3.5 minutes to download and convert to mp3 when it used to take 10-15 seconds on previous versions of this package. I'm using "await video.GetBytesAsync())" I haven't tried downloading a video since the delay is too long.

Please let me know if you need any additional info.

Thanks in advance.

[2021-10-28 01:35] ghost commented on #219
Hi,
I wasn’t getting any errors, GetBytes was simply never returning.
I have gotten to a point now, where this code is working, but it is really slow.
I tried the chunking solution, but I am unable to get it to return anything. It just seems to run forever.

I would be happy to share my solution or just some of the code if you are interested.
How is the chunking solution working for you?

Sent fro

[2021-10-28 19:43] omansak commented on #219
@PureDevelopers

ofc, I would be happy if you share your solution.

[2021-10-28 19:43] omansak commented on #219
#220

[2021-10-28 19:43] #219 closed, assigned to nobody

[2021-11-02 15:49] ghost commented on #219
Jim Shaffer has shared a OneDrive file with you. To view it, click the link below.
<https://1drv.ms/u/s!AvHPKApmHh2S0Uc4m7pdShzTuTKD>
[https://r1.res.office365.com/owa/prem/images/dc-zip_20.png]<https://1drv.ms/u/s!AvHPKApmHh2S0Uc4m7pdShzTuTKD>
WebApplication1.zip<https://1drv.ms/u/s!AvHPKApmHh2S0Uc4m7pdShzTuTKD>

I am attaching my solution. It is MVC web app, so just review the home controller.
T

[2021-11-02 19:28] JOBBIN9422 commented on #220
I have been running into this issue too. I think there is definitely some sort of throttling going on from youtube's side.

https://code.videolan.org/videolan/vlc/-/issues/26174#note_286445

[2021-11-03 21:57] omansak commented on #220
check version 3.1.4-pre (include prerelease if does not show on nuget)

[2021-11-03 21:57] #220 closed, assigned to omansak

[2021-11-03 21:57] omansak commented on #219
check version 3.1.3-pre (include prerelease if does not show on nuget)

[2021-11-04 02:58] ghost commented on #219
Once I checked the pre release check box, I was able to see a 3.1.3 version and a 3.1.4 version.
I installed 3.1.3, but then I got some dependency errors.
I added the following two packages:
Jint
Esprima

And then it ran, but no file was ever generated.

It executes the following line of code, and then it never returns:

var response = await _client.SendAsync(request, HttpCompletionOption.Response

[2021-11-04 10:51] omansak commented on #219
can you try again with 1.3.4 with new dependencies (NiL.JS)?

[2021-11-16 12:39] flexWhale commented on #216
https://youtube.com/watch?v=xQZxGCPjpqM

`void SaveVideoToDisk(string link)
{
    var youTube = YouTube.Default; // starting point for YouTube actions
    var video = youTube.GetVideo(link); // gets a Video object with info about the video
    File.WriteAllBytes(@"C:\" + video.FullName, video.GetBytes());
}`

The code is working very slowly. I think something changed on youtube because earlier dow

[2021-11-21 07:47] Areoxy opened #221 "Can’t open Downloaded Videos"
Hey,

If I download a video where I previously set it in the code that it should download with the highest resolution, then my media player throws errors that it cannot play it.

I used the the Fast Chunk Downloader to download the videos.

My Operating System:
Windows 11

[2021-12-30 13:50] omansak commented on #221
Btw Windows 11 Media Player has a bug, Can you try 3rd Party Application such as VLC ?

[2021-12-30 13:51] omansak commented on #216
fixed in last version

[2021-12-30 13:51] #216 closed, assigned to nobody

[2022-01-02 10:20] arogerm opened #225 "Error Download Video"
Dear All
if you try to download this video https://www.youtube.com/watch?v=9scTqHVE3A0 you get this error
Additional text encountered after finished reading JSON content: ;. Path '', line 1, position 66854.

¿there are some way to avoid this error?

with this other videos happens different json error
https://www.youtube.com/watch?v=qgnGm6mLFVw
https://www.youtube.com/watch?v=wHbz5xWbsHI

I'm using

[2022-01-14 13:46] omansak commented on #225
Thx for feedback.
I will check it.

[2022-01-15 14:23] Hyva-arch opened #228 ""IEnumerable<YouTubeVideo>" does not contain a definition for "First""
![image](https://user-images.githubusercontent.com/84142332/149624936-8e95d1e9-0398-446b-ad96-e3cd80015e50.png)

The error shows that "var videoInfos" does not contain a definition for "First".
https://github.com/omansak/libvideo/blob/master/docs/README.md#advanced

(.NET Framework 4.7.2)

[2022-02-02 07:24] SilkyKitsune opened #230 "GetVideo().GetBytes() sometimes throws HttpRequestException"
works fine most of the time but it's suddenly throwing the System.Net.Http.HttpRequestException. It throws this exception with videos it normally works fine with so I'm not sure what's going on. If there's more relevant information on the exception I can gather please tell me so.

[2022-02-02 14:24] omansak commented on #228
can you add `using System.Linq`

[2022-02-02 14:24] #228 closed, assigned to omansak

[2022-02-02 14:25] omansak commented on #230
ty for feedback, next time can you share full error or stack trace ?

[2022-02-02 14:25] #221 closed, assigned to omansak

[2022-02-02 15:04] #225 closed, assigned to omansak

[2022-02-02 19:39] SilkyKitsune commented on #230
Yes I will do so as soon as I am able to

[2022-02-06 00:36] SilkyKitsune commented on #230
Here you go, I managed to throw it a few times so I figured I'd just put all of their details in there
[HttpRequestException Details.txt](https://github.com/omansak/libvideo/files/8009179/HttpRequestException.Details.txt)

[2022-02-06 02:08] nikrath opened #232 "Versions 3.1.4 and above not working on iOS"
Hi,
I am trying to fix the slow GetBytes() problem by updating to 3.1.4 as mentioned in pinned issue. But unlike earlier versions, v3.1.4 is not working on iOS.
It throws the following error:
[code]

I think this might be happening because Nil.JS is a non-mobile only library.
Is there any solution / alternative to this library?

Thanks

[2022-02-07 22:05] omansak commented on #232
i will check that

[2022-02-07 23:32] omansak commented on #232
NiL.JS might can not run on İOS , i can replace this Javascript Engine with another one that works on İOS . Do you know another JS Engine that works on IOS ? I am waiting jint release version

[2022-02-08 05:50] nikrath commented on #232
Hey Omanask
Thanks for your response

Let me research a bit, try to find an alternative.
Also, what features / updates of Jint are you waiting for?

[2022-03-01 19:16] ColorTwist commented on #232
I can confirm that even for android there are issues (not functional) because of NiL.JS library, if I'll find an alternative I'll update.

[2022-03-02 17:41] ColorTwist commented on #232
@nikrath @omansak
Hi,
Do you have any update from your side?

[2022-03-05 10:02] marnagy opened #236 "Failed to receive videos from GetAllVideos"
Hello,

Today I tried to download some video using your library and my program got stuck on `await YouTube.Default.GetAllVideosAsync(url);`
I also tried multiple video URLs, but all got stuck on the same line.

I am using version 3.1.9 of your library called "VideoLibrary" on NuGeT.

Is there something I am forgetting or has changed? It worked flawlessly around Tuesday.

[2022-03-05 14:14] marnagy commented on #236
I tried it again and it works now.

[2022-03-05 14:14] #236 closed, assigned to nobody

[2022-03-14 13:11] eslam-zafer commented on #31
I have downloaded a video in 480p resolution then download is very very slow and no audio in video, please any solution please.

[2022-03-14 13:12] eslam-zafer opened #237 "Download very slow and no audio"
I have downloaded a video in 480p resolution then download is very very slow and no audio in video, please any solution.

[2022-03-29 12:21] ColorTwist commented on #232
From what i have read this version could support iOS/Android, not 100%, however, if possible to try it would be great:
https://github.com/sebastienros/jint

[2022-04-01 16:37] maaa3 opened #238 "How do you show download progress?"
Im making a Windows Forms youtube downloader application with libvideo, and i was wondering how i show download progress (e.g. 50% downloaded)? Sorry if this isn't the right place to ask

[2022-04-02 11:32] marnagy commented on #238
Hello @Ma0us ,

I personally download from stream using buffer and in while loop fill the buffer. In the loop, I keep track of amount of bytes read in total. Total amount of bytes to be downloaded is stored in `stream.ContentLength`.

I use this in CLI with progress bar, so you will need to modify the code, but I hope it will be a good starting place.
[Link to my project](https://github.com/marnag

[2022-04-02 11:36] marnagy commented on #237
Hello,

Can you provide more details? Like your code and URL of the video?

[2022-04-03 12:25] marnagy commented on #195
@sepp89117 , did you create a pull request?

[2022-04-04 00:10] omansak commented on #238
https://github.com/omansak/libvideo/blob/master/docs/README.md

on the bottom

[2022-04-04 00:10] #238 closed, assigned to nobody

[2022-04-04 00:10] omansak commented on #237
can you share any URL or ID ?

[2022-04-04 00:11] omansak commented on #232
@ColorTwist  we are waiting none-beta version 3.x.x (2.x.x does not work i did tried.) but you can own build from beta3

[2022-04-04 00:12] omansak commented on #230
This issue is out of date.

[2022-04-04 00:12] #230 closed, assigned to nobody

[2022-04-04 09:03] marnagy commented on #195
@89z , would you mind sharing the method?

[2022-04-04 15:28] zerodytrash commented on #195
@marnagy see https://github.com/yt-dlp/yt-dlp/pull/3233

[2022-04-10 06:05] ColorTwist commented on #232
I can't test the build now :| Do you know when none-beta will be released?

[2022-04-10 12:13] omansak commented on #232
https://github.com/sebastienros/jint/issues/343#issuecomment-1086982853 :)

[2022-04-15 04:24] lahma commented on #232
Hi folks. You should definitely give Jint 3.x a try even though it's marked beta. Beta label allows changing some APIs and other wiggle room but the actual JS execution is backed by thousands of tests (> 30 000), and it should get better in every release. I'd argue that Jint handles the same set of features as other libraries, if even not more.

[2022-04-18 10:50] sepp89117 opened #239 "Newtonsoft.Json.JsonReaderException: Unterminated string. Expected delimiter: ""
Newtonsoft.Json.JsonReaderException: Unterminated string. Expected delimiter: ". Path 'videoDetails.shortDescription', line 1, position 56218.
YouTube.cs:Line 72
try to downloading URL https://www.youtube.com/watch?v=U2XK_TJZ3PI

[2022-04-18 12:31] sepp89117 commented on #239
Solved!

The shortDescription of this Video contains two '}'. The Json extraction function misinterprets the character because it does not recognize that it is within a quoted string.

Fixed function: 'Helpers/Json.cs' -> 'public static string Extract(string source)'
[code]

[2022-04-21 22:29] omansak commented on #239
@sepp89117 can you do pull request ?

[2022-04-27 12:26] marnagy opened #240 "Unexpected EOF or 0 bytes from the transport stream"
Hello, I was trying to download a video today and an exception popped up, that I haven't seen before:
(styliezed error from catch block calling `$"Unknown error for url {videoUrl}\nMessage:\n{e.Message}\nStacktrace:\n{e.StackTrace}"` )

Unknown error for url https://youtu.be/rIX35SBA_lQ
Message:
 Received an unexpected EOF or 0 bytes from the transport stream.
Stacktrace:
  ` at System.Net.Securit

[2022-04-29 15:42] marnagy commented on #240
It works now without any changes.
Seems like the problem was on Youtube's side.

[2022-04-29 15:42] #240 closed, assigned to nobody

[2022-05-06 17:46] HopInTheCloud commented on #165
Same issue and I am on version 3.1.9

[2022-05-07 13:38] omansak commented on #239
any update ?

[2022-05-07 13:38] omansak commented on #165
i will check that

[2022-05-22 11:30] sepp89117 commented on #239
I'm really sorry! I hardly find time for the hobby...
You can simply copy the code if you want.

[2022-06-05 11:37] Ziad251 opened #241 "Can we configure more options for Audio?"
Is it possible to get audio with x number of channel or anything larger than stereo?

[2022-07-20 12:03] Yonaire opened #243 "Help regarding specific Resolution"
Hi,
Doing this
![image](https://user-images.githubusercontent.com/109658160/179976974-bfd08ccb-08a3-457e-b2bd-38110e4cea05.png)
 and then downloading it via vid.GetBytes(); and saving it like this
![image](https://user-images.githubusercontent.com/109658160/179977103-a5c47f1e-4949-4469-a683-838673707dee.png)
 doesnt quite work for me
Could you check why?

[2022-07-20 12:04] Yonaire commented on #243
It takes ages (probably because of GetAllVideos) and then the Audio is not there

[2022-07-21 09:55] omansak commented on #241
i will look

[2022-07-21 09:56] omansak commented on #237
Out of date

[2022-07-21 09:56] #237 closed, assigned to nobody

[2022-08-03 08:32] sepp89117 commented on #239
I opened a pull request

[2022-08-03 11:41] #243 closed, assigned to omansak

[2022-08-25 10:44] ArataKaito opened #246 "Corrupted File after download video"
Hello,

i have a problem with the sample chunk download.
it downloades the file but after it finished its corrptued and isn't running.

` public async void OnlyVideo_Cunks()
        {

            try
            {

                var client = new HttpClient();

                foreach (var link in youtubeURLS)
                {
                    try
                    {

[2022-08-30 13:45] omansak commented on #239
fixed in 3.2.1

[2022-08-30 13:45] #239 closed, assigned to nobody

[2022-08-30 13:45] omansak commented on #232
I changed JS Engine to Jurassic Engine. Can anyone test it ?

[2022-08-30 14:00] omansak commented on #246
A sample code :

https://github.com/omansak/libvideo/blob/e9439680271d1d92398d90132757d6c95e578f31/src/libvideo.debug/CustomYoutubeClient.cs#L39

[2022-08-30 14:00] #246 closed, assigned to nobody

[2022-08-30 14:33] lahma commented on #232
@omansak just curious, why the change? Jint too slow or iOS related?

[2022-08-30 23:27] omansak commented on #232
jint does not support ES6+

[2022-08-31 05:51] lahma commented on #232
Hmm, if you compare both projects readmes, you can see that Jint supports more of the recent features than Jurassic 🙂

Jint has things like rest, spread, destructuring, arrow functions, also the base library has more constructs implemented.

[2022-09-01 20:07] L0um15 opened #247 "libvideo 3.2.1 is no longer working on .NET 6"
libvideo 3.2.1 throws an absurdly long exception that exceeds buffer size of the console.
Visual studio is not able to detect this exception while debugging.
Previous versions of libvideo worked flawlessly (3.1.9 tested)

I dont know if its me or is it this library.

here is a piece of the thrown exception.

<details>
  <summary>Click me</summary>

  ### Exception
[code]
</details>

[2022-09-02 11:00] omansak commented on #247
hımm. okey i will check that.

[2022-09-03 15:30] tjvxh opened #248 "Could not install package 'VideoLibrary 3.2.1'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.8', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author."
Could not install package 'VideoLibrary 3.2.1'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.8', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

Version 3.1.9 was compatible with .NET Framework 4.8, but 3.2.1 seems to be considered in

[2022-09-03 22:35] omansak commented on #248
hmm ok, you can use now 3.1.9 untill i fix problem.

[2022-09-03 22:35] omansak commented on #247
hmm ok, you can use now 3.1.9 untill i fix problem.

[2022-09-04 12:02] L0um15 commented on #247
3.2.0 seems to be working

[2022-09-12 23:27] L0um15 commented on #247
8 days later: 3.2.0 stopped working: throws identical exception

[2022-09-12 23:32] L0um15 commented on #247
3.1.9 is painfully slow.

[2022-09-13 10:57] omansak commented on #247
@L0um15 yes 3.1.9 has bug i am finding JS engine.

[2022-09-14 22:25] jtwhitehd commented on #247
In your opinion, would it be better to use 3.2.1 on .NET Core 5 or older versions on .NET Core 6, assuming I don't require the additions of 6.0?

Thanks!

~

3.2.1 is also not working on .NET Core 5.0 (the same exception wall); I am unable to test additional versions at the current moment.  Same with 3.2.0.
3.1.8 is also giving me trouble but for different reasons, I believe.  I plan to try 3.19 a

[2022-09-15 19:50] L0um15 commented on #247
@jtwhitehd earlier versions than 3.2.0 will cause issues. Youtube is constantly changing their signatures making downloading harder.

[2022-09-17 15:12] omansak commented on #248
fixed version 3.2.2

[2022-09-17 15:12] #248 closed, assigned to nobody

[2022-09-17 15:13] omansak commented on #247
can you test on v3.2.2 ? used again .net standart

[2022-09-17 18:48] jtwhitehd commented on #247
@omansak 3.2.2 is working (on .NET Core 6.0)

[2022-09-17 21:35] L0um15 commented on #247
3.2.2 works fine.

[2022-09-18 00:03] #247 closed, assigned to omansak

[2022-09-19 14:54] GamerAway opened #249 "Microsoft Store !"
what happened to the app?
I still have the app but I can't find it in the store.
any update?

[2022-09-20 08:13] omansak commented on #249
its removed from store.

[2022-09-20 08:13] #249 closed, assigned to nobody

[2022-10-10 07:10] gasand opened #250 "Additional text encountered after finished reading JSON content"
Hi there! Thanks for the grat tool!
I've encountered this error trying to download some YouTube videos...
Try for example with video:  dFrGOddNg_Y

Hope this helps!

[08:51:23 FTL] Newtonsoft.Json.JsonReaderException: Additional text encountered after finished reading JSON content: ;. Path '', line 1, position 66369.
   at Newtonsoft.Json.JsonTextReader.Read()
   at Newtonsoft.Json.Linq.JToken.Par

[2022-10-25 14:24] hondek commented on #250
Hi,

I sent pull request fixing this problem.

[2022-10-25 15:42] #250 closed, assigned to nobody

[2022-10-26 01:00] NullNRG opened #255 "GetBytes() failing"
GetBytes failing with error.
with any video i try.
here is an example video
URI:   Mu1vgxuWfC8

`   at Jurassic.Library.ArrayInstance.__STUB__ToString(Jurassic.ScriptEngine, System.Object, System.Object[])
   at Jurassic.Library.ClrStubFunction.CallLateBound(System.Object, System.Object[])
   at Jurassic.Library.ObjectInstance.TryCallMemberFunction(System.Object ByRef, System.Object, System.Object

[2022-10-26 01:01] NullNRG commented on #255
i should mention the exact same code was working the day prior. now is failing

[2022-10-26 06:18] hondek commented on #255
Yep, its my fault, just merge my last pull request and will be fine everything.

[2022-10-26 08:44] FedeC87p opened #256 "Video resolution 1080p are without audio"
I try to download the resolution video 1080p but all video are without audio.

The only way is to download the video and audio stream and merge?

[2022-10-26 09:16] hondek commented on #256
yep, only way is merge with audio track

[2022-10-26 09:16] #256 closed, assigned to nobody

[2022-10-26 10:48] omansak commented on #255
i merged can you test now ?

[2022-10-26 13:47] hondek commented on #255
Hi,

Tested but it wasnt problem...

But i know what is problem this time:

Sometime in descramble function youtube developers put Dates instead of Numbers and then JavaScript Engine (Jurassic) cant correct fire javascript descramble function.

In my desktop app i using WebView, and executing descramble function in webview and it working correct.

But i dont know it is possible to use WebView in t

[2022-10-27 10:43] hondek commented on #255
Problem is Jurassic Engine throw StackOverflowException so we cant catch it :(

[2022-10-28 07:10] hondek commented on #255
Hi guys,

today descramble function for this video was changed and parsing by Jurassic normally.

But i think youtube randomly testing this option.

If you will get this errror again please save somewhere string with javascript code - we will be able to test it from a file.

[2022-10-28 15:55] NullNRG commented on #255
Hi, thank you for all the work looking into this issue. I haven't yet been able to test anything here as I have been away. But glad to see it is working as normal again for now.

[2022-11-01 10:23] FedeC87p opened #260 "YouTubeVideo throw error when use property Uri"
Hi,

From this morning, when i try to read the property Uri from class YouTubeVideo i have a lot of error (i think recorsive error):

Repeat 2389 times:
--------------------------------
   at Jurassic.Library.ObjectInstance.GetPrimitiveValue(Jurassic.PrimitiveTypeHint)
   at Jurassic.TypeConverter.ToString(System.Object, System.String)
   at Jurassic.Library.ArrayAdapter`1[[System.__Canon, System.

[2022-11-01 10:58] hondek commented on #260
Same issue as #255

Please provide youtube id to reproduce

[2022-11-01 11:04] FedeC87p commented on #260
https://youtu.be/805SMR0uEi0

Thanks

[2022-11-02 02:22] tjvxh opened #261 "Is VideoLibrary compatible with .NET MAUI?"
I see that it should be compatible with Xamarin, but would it also be compatible with .NET MAUI?
I was attempting to implement a video downloader, but I received this exception.

Exception thrown: 'VideoLibrary.Exceptions.UnavailableStreamException' in System.Private.CoreLib.dll

I'm unsure if it's an issue with my implementation (I'm still new to MAUI and Xamarin) or if the library isn't compatib

[2022-11-02 06:15] hondek commented on #261
Can you show some part of your code?

[2022-11-02 08:22] hondek commented on #261
Or Message from throwed UnavailableStreamException.

[2022-11-03 20:28] omansak commented on #261
please share us Exception.

[2022-11-03 22:55] tjvxh commented on #261
Here's the exception, sorry for the delay

VideoLibrary.Exceptions.UnavailableStreamException: Video has unavailable stream.
at VideoLibrary.YouTube.ParseVideos(String source)+MoveNext() at System.Linq.Enumerable.TryGetFirst[TSource(IEnumerable`1 source, Boolean& found) at System.Linq.Enumerable.First[TSource](IEnumerable`1 source) at VideoLibrary.ServiceBase 1.GetVideoAsync(String videoUri, Func`

[2022-11-04 02:31] gliderman commented on #255
Howdy, I'm encountering this issue on every video URL I try to pass.  Doesn't seem to matter if it's new or old, different channels, etc.  Any URI I try to access is tripping that stack overflow error.  I saw you need the Javascript code that's returned from YouTube, how would I go about obtaining this for debugging?

[2022-11-04 19:55] NiTiSon opened #262 "Stackoverflow"
`Video.GetStream()` + Async
`Video.GetBytes()` + Async
and others methods cause stack overflow
You download all video into RAM?

You can create stream that continue download during using?

[2022-11-05 08:20] hondek commented on #262
Propably same issue as #255

[2022-11-06 17:34] tmm360 commented on #260
I've solved replacing Jurassic library with https://github.com/sebastienros/jint

[2022-11-06 18:16] Hummingbirdy commented on #255
I'm also still having this issue. Using code and a YouTube link that worked fine two weeks ago. Is their a workaround?

[2022-11-28 05:15] tjvxh commented on #261
I believe I have resolved the issue and it seems to work now

[2022-11-28 05:15] #261 closed, assigned to nobody

[2022-11-28 13:56] gasand opened #264 "Unable to download a specific video"
Hi there! I've notice that it looks like the library is not able to download a specific video.
When i try to download https://www.youtube.com/watch?v=b2YUw1rqbTY  the library stops working without any error...
I can defently live with that :) I just would like to inform you about this issuse I've found.
Thanks for your great job!